body {
	background:url(../images/topbg.jpg) repeat-x top #f0f0f0;
	z-index:-99999;
	overflow:auto;
	margin:0px;
	padding:0px;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
}

img { border:0 }
#menu-container{ float:left; width:960px; height:58px;}

#main-menu{background-image:url(../images/menubg.jpg); background-repeat:no-repeat; width:960px; height:58px; padding-top:7px; padding-left:7px; font-size:13px; font-weight:bold;}

#main-menu-static{background-image:url(../images/menubg_sg.jpg); background-repeat:no-repeat; width:960px; height:58px; padding-top:5px; font-size:13px; font-weight:bold;}

#static-home-menu{float:left; font-size:20px; padding-top:12px; padding-left:20px; padding-right:20px; border-right:dotted 1px #596bf0; height:48px;}

#static-home-menu a{color:#fb9014; text-decoration:none;}

/* Static Navigation */
#static-menu-module{ float:left;}
#static-menu-module ul { padding-left: 0; margin-left: 0; color: #062284; float: left; width: 834px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
   	font-weight:bold;
}
#static-menu-module ul li { display: inline;}
#static-menu-module ul li a#current { color: #062284; }
#static-menu-module ul li a {color: #062284; text-decoration: none; float: left;padding: 0 28px 0 28px; text-align: center; background:url(../images/static-spacer.png) center right no-repeat; height:22px;}
#static-menu-module ul li.item114 a{  background:none;	}
#static-menu-module ul li a:hover { color: #3366CC;}

#static-menu-module ul li ul { display:none;}

/*toggle menu style*/
h2.trigger {
	padding: 0 0 0 15px;
	margin: 0 0 0px 0;
	background: url(../images/sidemenu-backgd.jpg) no-repeat;
	height: 37px;
	/*line-height: 50px;*/
	width: 203px;
	font-size: 18px;
	font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
	font-weight: normal;
	float: left;

}
h2.trigger a {
	color: #ffffff;
	text-decoration: none; padding-left:20px; height: 37px; float:left;
	line-height: 37px;
	/*display: block;*/
}
h2.trigger a:hover { color: #ccc; }
h2.active {background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/


#togglemenu {
	
	/*margin: 0 0 0px;*/
	padding: 0;
	overflow: hidden;
	font-size: 13px;
	width: 203px;
	clear: both;   
}
#togglemenu .block {
	/*padding-top: 10px; *//*--Padding of Container--*/
	width:203px;
	/*background-color:#ffefda;*/
	/*background: url(toggle_block_btm.gif) no-repeat left bottom*/; /*--Bottom rounded corners--*/
}

/*ul.static-sidemenu{padding: 0; margin:0px;  }*/
/*#togglelist{border-bottom:dotted 1px #acacac; background: url(../images/bullet1.png) left center no-repeat;padding-bottom:5px;margin-top:0; margin-bottom:0; padding-left:15px; padding-top:6px;}*/

/*#togglelist a{color:#626570; text-decoration:none;}

#togglelist:hover{ background-color:#ffefda;}*/

#togglemenu ul{ border-bottom:dotted 1px #acacac; list-style-image: url(../images/bullet1.png);padding-bottom:5px;margin-top:0; margin-bottom:0; padding-left:30px; padding-top:6px;}

#togglemenu ul a{ color:#626570; text-decoration:none;}

#togglemenu ul:hover{ background-color:#ffefda;}

/*#togglemenu ul li{line-height:20px;margin-left:-12px;}*/

.border99{ border-right:dotted 1px #596bf0;}
.border6{display:none;}

#main-menu ul.menu li.parent a{color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu3 li.parent a{color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu5 li.parent a{color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu7 li.parent a{color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu li.item53 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu li.item57 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu3 li.item61 a{ color:#ffffff; text-decoration:none;}
#main-menu li.item62 a span { color:#ffffff; text-decoration:none;}
#main-menu ul.menu li.item67 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu5 li.item71 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu3 li.item79 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu3 li.parent ul li.item80 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu7 li.item85 a{ color:#062284; text-decoration:none;}
#main-menu ul.menu li.parent ul li a{ color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu3 li.parent ul li a{ color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu5 li.parent ul li a{ color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu7 li.parent ul li a{ color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu8 li.parent a{color:#5a5a5a; text-decoration:none;}
#main-menu ul.menu8 li.parent ul li.item128 a{ color:#f6841c; text-decoration:none;}
#main-menu ul.menu8 li.item127 a{ color:#f6841c; text-decoration:none;}
#main-menu ul.menu9 li.parent ul li a{ color:#062284; text-decoration:none;}
#main-menu ul.menu li.item206 a span{ color:#ffffff; text-decoration:none;}
#main-menu ul.menu9 li.item207 a{ color:#062284; text-decoration:none;}

#main-menu ul.menu {
	padding: 0; margin:0; margin-left:5px; list-style:none; float: left; width: 100px; height:58px; text-align:center; border-right:dotted 1px #abb4f7;
}

#main-menu ul.menu li.parent {
    width:28px;
    margin:7px 0 0 0;
    padding:0 10px 0 10px;
    line-height:15px;
    float:left;
}

#main-menu ul.menu li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 40px; 
}

#main-menu ul.menu li.parent ul li{
    width:28px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}

#main-menu ul.menu3 {
	padding: 0; margin: 0; margin-left:5px; list-style:none; float: left; width: 140px; height:58px; text-align:center; border-right:dotted 1px #abb4f7;
}

#main-menu ul.menu3 li.parent {
    width:28px;
    margin:7px 0 0 0;
    padding:0 8px 0 8px;
    line-height:15px;
    float:left;
}

#main-menu ul.menu3 li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 40px; 
}

#main-menu ul.menu3 li.parent ul li{
    width:28px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}


#main-menu ul.menu8 {
	padding: 0; margin: 0; margin-left:5px; list-style:none; float: left; width: 140px; height:58px; text-align:center; border-right:dotted 1px #abb4f7;
}

#main-menu ul.menu8 li.parent {
    width:28px;
    margin:7px 0 0 0;
    padding:0 8px 0 8px;
    line-height:15px;
    float:left;
}

#main-menu ul.menu8 li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 40px; 
}

#main-menu ul.menu8 li.parent ul li{
    width:28px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}

#main-menu ul.menu5 {
	padding: 0; margin: 0; margin-left:5px; list-style:none; float: left; width: 190px; height:58px; text-align:center; border-right:dotted 1px #abb4f7;
}

#main-menu ul.menu5 li.parent {
    width:28px;
    margin:7px 0 0 0;
    padding:0 8px 0 10px;
    line-height:15px;
    float:left;
}

#main-menu ul.menu5 li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 40px; 
}

#main-menu ul.menu5 li.parent ul li{
    width:28px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}

#main-menu ul.menu7 {
	padding: 0; margin: 0; margin-left:5px; list-style:none; float: left; height:58px; text-align:center;
	border-right:dotted 1px #abb4f7;
}


#main-menu ul.menu7 li.parent {
    width:60px;
    margin:7px 0 0 0;
    padding:0 0 0 5px;
    line-height:15px;
    float:left; 
}

#main-menu ul.menu7 li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 40px; 
}

#main-menu ul.menu7 li.parent ul li{
    width:60px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}

#main-menu ul.menu9 {
	padding: 0; margin: 0; margin-left:5px; list-style:none; float: left; width: 110px; height:58px; text-align:center;
	border-right:dotted 1px #abb4f7;
}


#main-menu ul.menu9 li.parent {
    width:60px;
    margin:7px 0 0 0;
    padding:0 0 0 5px;
    line-height:15px;
    float:left; 
}

#main-menu ul.menu9 li.parent ul{
	padding: 0; margin: 0; list-style:none; float: left; width: 55px; 
}

#main-menu ul.menu9 li.parent ul li{
    width:28px;
    margin:3px 0 0 0;
    padding:0;
    line-height:15px;
    float:left;
	
}

#wrapper{height:auto; width:960px; margin:auto; padding:auto;}

#footer-bg{ background-image:url(../images/footerbg.jpg); background-repeat:repeat-x; height:150px; width:auto; margin:0px; padding:0px;}

#footer-cont{ width:600px; margin:auto; padding:auto; line-height:15px; color:#1e3894; font-size:12px;padding-bottom:10px;}

#footer-text{ float:left; width:600px; height:20px; padding-top:10px; padding-bottom:10px;}

#footer-text a{ color:#1e3894; font-weight:bold; text-decoration:none;}

#footer-text a:hover{ text-decoration:underline;}

#footer-copy{float:left; width:600px; height:20px; padding:0; margin:0;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;}

#topcontainer {	float:left;	width:100%; height:213px;}

#top-banner { position:absolute; z-index:0;	width:960px; height:213px;}

#top-share { position:absolute; z-index:900; width:125px; height:auto; padding-left:580px; padding-top:8px;}

#top-weather { position:absolute; z-index:900; width:160px; height:auto; padding-left:420px; padding-top:8px;}

#top-menu {	position:absolute;	z-index:100; padding-left:712px; width:248px; height:35px;}

span.mainlevel{ padding-left:10px; padding-right:10px;}

#menubg { height:35px; width:248px;	line-height:30px;}

#top-menu-content { width:248px; height:35px; float:left; }

#top-menu-content a{color:#062284; font-size:12px; font-weight:bold; text-decoration:none;}

#top-menu-content a:hover{text-decoration:underline;}

#top-login{ position:absolute; z-index:2; padding-left:842px; padding-top:35px;}

#top-loginbg{ background-image:url(../images/loginbg.jpg); background-repeat:no-repeat; width:118px; height:25px;}

#breadcrumb-container{ float:left; width:100%; height:24px;}

#breadcrumb-bg{ background-image:url(../images/breadcrumb-bg.jpg); background-repeat:repeat-x; width:958px; height:22px; border:solid 1px #d0d7ef;}

#breadcrumb-content{ padding:5px; padding-left:20px; color:#525252;}

#search-container{ float:left; width:100%; height:40px;}

#search-bg{background-image:url(../images/searchbg.jpg); background-repeat:no-repeat; width:960px; height:38px;}

#search-content{padding-top:8px; padding-left:20px; padding-right:20px; width:920px; height:38px; float:left; font-size:13px;}

#search-pos1{float:left; width:280px; height:28px;}

#search-pos2{float:right; padding-left:20px; width:50px; height:28px; line-height:20px;}

#search-pos3{float:right; height:28px; margin-right:40px;}
/*ZH - add - margin-right:30px;*/
#search-pos3 a{ color:#ffffff; text-decoration:underline; font-size:14px;}
#search-pos3 a:hover{ text-decoration:none;}
#search-pos3 a:visited{ color:#ffffff; text-decoration:none;}
#search-pos4{float:left; padding-left:5px; width:150px; height:28px; line-height:20px; font-size:14px;}

#search-pos4 a{ color:#ffffff; text-decoration:underline;}
#search-pos4 a:hover{ text-decoration:none;}
#search-pos4 a:visited{ color:#ffffff; text-decoration:none;}

.enter_button{ background-image:url(../images/main-button.png); background-repeat:no-repeat; width:62px; height:18px; border:none; color:#FFFFFF;font-size:12px; padding-bottom:3px; cursor:pointer;}

.clear{clear: both; padding-bottom:1px;}

.clear1{clear:both; padding-bottom:9px;}

.clear2{clear: both; padding:5px;}

.clear3{clear: both; padding:10px;}

.clear4{ float:left; width:9px;}

.rightpadding, #left-wrap{ padding-right:10px;}

.rightpadding1, #map-wrap{ padding-right:7px;}

.floatleft, #left-wrap, #map-wrap{ float:left;}

.blueborder, #blueborder-cont{ border:solid 1px #e1e8ff;}

#blueborder-cont{ float:left; width:958px; height:auto;}

#banner-border{ background-color:#FFFFFF; padding:8px; width:942px;}

#smallbanner-cont, #small-module-content-cont2{ float:left; width:100%; height:auto; }

#main-map-border{ background-color:#FFFFFF; padding:12px; width:934px; float:left;}

#google-map-cont{float:left; width:569px; height:297px; border:solid 1px #a3a3a3;}

#google-map-border{float:left; width:561px; height:289px; padding:4px; background-color:#6c6c6c;}

#map-search-button{ float:left; width:224px; cursor:pointer;}

#main-content-container, #sub-content-container{float:left; width:960px; height:auto;}

#main-left-content-cont{ width:637px; height:auto; float:left; padding-right:10px;}

#main-right-content-cont{ width:313px; height:auto; float:left;}

#sub-left-content-cont{ width:249px; height:auto; float:left; padding-right:20px; }

#sub-right-content-cont{ width:691px; height:auto; float:left;}

#static-left-content-cont{ width:205px; height:auto; float:left; padding-right:9px;}

#static-center-content-cont{ width:576px; height:auto; float:left; padding-right:10px;}

#static-center-content-border{float:left; width:536px; border:solid 1px #e2e9fe; /*background-color:#FFFFFF; */}

#static-center-sub-content{float:left; width:501px; border:solid 1px #e2e9fe; background-color:#FFFFFF; padding-left:18px; padding-right:17px; padding-top:12px; padding-bottom:20px;}

#static-sub-content-cont{width:746px; height:auto; float:left;}

#static-sub-content{float:left; width:711px; border:solid 1px #e2e9fe; background-color:#FFFFFF; padding-left:18px; padding-right:17px; padding-top:12px; padding-bottom:20px;}

#static-sub-content-border{float:left; width:746px; border:solid 1px #e2e9fe; background-color:#FFFFFF; }

#static-sub-content-text{padding-left:18px; padding-right:17px; padding-bottom:10px; float:left; width:711px;}

#bottom-sub-content-cont{float:left; width:711px; padding-left:18px; padding-right:17px; padding-bottom:10px; padding-top:10px;}

#static-right-content-cont{ width:160px; height:auto; float:left;}

#static-right-banner-cont{float:left; width:100%; padding-bottom:10px;}

#static-right-banner-border{border:solid 1px #878889;}

/*#static-text-cont{float:left; width:400px; padding-left:10px;}*/

#static-text-cont{float:left; width:610px; padding-left:10px;}

#static-text{ color:#062284; padding-bottom:5px; font-size:15px; font-weight:bold; /*width:100%;*/ float:left;}

#static-text1{ color:#062284; padding-bottom:1px; font-size:15px; font-weight:bold; /*width:100%;*/ float:left;}

#static-center-header-cont{padding-top:12px; padding-bottom:10px; color:#fe8700; font-size:14px; font-weight:bold; border-bottom:solid 2px #fb9014;}

#static-center-header{padding-left:18px; padding-right:17px;}

#static-center-content-text{padding-left:18px; padding-right:17px; padding-bottom:10px; float:left; width:501px;}

#main-cont{ float:left; width:100%;}

/*#static-module{width:500px;}*/

#static-module{width:710px;}

#module-headerbg, #small-module, #center-module, #mid-module, #sub-small-module, #static-module, #ads-module, #ads-module1{ background-image:url(../images/module-headerbg.jpg); background-repeat:repeat-x; height:39px; float:left; }

/*#module-logo{ background-image:url(../images/module-header-logo.png); background-repeat:no-repeat; width:23px; height:23px; float:left;}*/

#module-headerpos{padding-left:14px; padding-top:6px; width:95%; height:30px; float:left;}

#module-headerpos1{padding-left:14px; padding-top:3px; width:95%; height:30px; float:left;}


#module-border, #small-module-border, #small-module-border2, #center-module-border, #mid-module-border, #small-ban-border, #sub-small-module-border{border:solid 1px #e1e8ff; height:auto; float:left;}

#module-pos{float:left; width:313px; padding-right:10px;}

#module-pos1{float:left; width:313px;}

#module-pos2{float:left; width:152px; padding-right:9px; padding-bottom:10px;}

#module-pos3{float:left; width:322px;}

#module-pos4{ float:left; width:249px;}

#module-pos5{ float:left; width:205px;}

#module-pos6{float:left; width:636px;}

#module-title{padding-left:30px; padding-top:4px; color:#ffffff; font-size:13px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-title1{padding-left:30px; padding-top:4px; color:#ffffff; font-size:15px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-title2{padding-left:30px; color:#ffffff; font-size:13px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left center no-repeat;}

#small-module-content-cont{float:left; width:100%; height:auto; padding-bottom:10px;}

#small-module-content-cont1{float:left; width:100%; height:auto; padding-top:5px;}

#small-module-content-text{float:left; width:220px; color:#c57c2d; font-size:13px;}

#small-module-content-text1{float:left; width:60px; color:#66460c; font-size:12px;}

#small-module-content-text2{float:left; width:60px; line-height:22px; font-size:14px; font-weight:bold; color:#5b5b5b;}

#small-module-content-text3{float:left; color:#5b5b5b;}

#small-module-content-text4{float:left; width:216px; color:#ff8200; font-size:11px;}

#small-module-content-text5{color:#ff8200; font-size:14px; line-height:22px; font-weight:bold; float:left; width:100%;}

#small-module-content-text6{border-bottom:dotted 1px #979797; line-height:25px; font-size:12px; color:#333333; float:left; width:100%;}

#small-module-content-text7{float:left; padding-left:5px; width:203px;}

#small-module-content-text8{float:left; padding-left:10px; width:35px;}

#small-module-content-text11{float:left; width:100%; color:#66460c; font-size:12px;}

#small-module, #small-module-border, #small-module-border2, #small-module-content{ width:311px;}

#center-module, #center-module-border, #center-module-content{ width:634px;}

#mid-module, #mid-module-border, #mid-module-content{ width:635px;}

#sub-small-module, #sub-small-module-border,#sub-small-module-content{ width:247px;}

#ads-module{ width:800px;}

#ads-module1{ width:690px;}

#static-small-module, #static-small-module-border, #static-small-module-content{ width:203px;}

#static-small-module-border{border:solid 1px #d3d3d7; height:auto; float:left;}

#static-small-module{ background-image:url(../images/smodule-headerbg.jpg); background-repeat:repeat-x; height:38px; float:left; }

#static-small-module-content{ background-color:#FFFFFF; height:auto; float:left;}

#static-module-title{padding-left:30px; color:#ffffff; font-size:22px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-content-cont, #small-module-content, #center-module-content, #mid-module-content, #sub-small-module-content{ background-color:#FFFFFF; height:auto; float:left;}

#module-cont{width:962px; float:left; height:auto;}

#adscontainer{border-bottom:solid 1px #ccc; padding-bottom:10px; float:left; width:100%; height:auto; padding-left:10px;}

#adscontainer1{padding-top:20px; float:left; width:690px;}

#module-padding,#module-padding7,#module-padding8,#module-padding9{padding-bottom:10px; float:left; width:100%;}

#module-padding1{padding-bottom:10px; padding-top:10px; float:left; width:100%; background-color:#FFFFFF; border:solid 1px #e2e9fe; }

#module-padding2{padding-bottom:20px; float:left; width:574px; height:auto; background-color:#FFFFFF;}

#module-padding4{padding-bottom:10px; padding-top:10px; float:left; width:574px; height:auto;}

#module-padding5{float:left; width:576px; background-color:#FFFFFF; border:solid 1px #e2e9fe;}

#module-padding6{ float:left; padding-left:35px; padding-top:20px; padding-bottom:30px;}

#ajax-contentdetails{ float:left; width:100%; background-color:#FFFFFF; border:solid 1px #e2e9fe;}

#module-padding3{float:left; width:100%; padding-top:20px;}

#ajax-infodetails, #component-start{float:left; width:100%;}

#contentbody{ padding:20px; line-height:20px; width:535px; height:auto;}

#midstatic-module{ background-image:url(../images/module-headerbg.jpg); background-repeat:repeat-x; height:39px; float:left; }

/*#module-logo{ background-image:url(../images/module-header-logo.png); background-repeat:no-repeat; width:23px; height:23px; float:left;}*/

#midstatic-headerpos{padding-left:14px; padding-top:6px; width:563px; height:30px; float:left;}

#midstatic-title{padding-left:30px; padding-top:4px; color:#ffffff; font-size:13px; width:563px; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#static-padding{ padding-top:10px;}

.itemFullText{ padding-left:10px; padding-right:15px; line-height:20px; font-size:13px;}

#module-content-padding{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:280px; float:left;}

#module-content-padding1{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:604px; float:left;}

#module-content-padding2{padding-top:10px; float:left; width:100%;}

#module-content-padding3{padding-top:5px; padding-left:10px;}

#module-content-padding4{padding-top:8px; padding-left:10px;}

#module-content-padding5{padding-top:2px; padding-left:10px;}

#module-content-padding6{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:216px; float:left;}

#module-content-padding7{padding-bottom:20px; padding-right:15px; width:100%; float:left;}

#module-content-padding8{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:603px; float:left;}

#module-content-img{float:left; padding-top:6px; width:16px;}

#module-content-backgd{border:solid 1px #b2a697; background-color:#decfbe; color:#704f12; height:24px;  float:left; width:281px;}

#module-content-backgd1{ background-image:url(../images/module-bg1.jpg); width:283px; height:29px; color:#333333;}

#module-content-backgd2{ background-image:url(../images/module-bg2.jpg); background-repeat:repeat-x; width:281px; height:37px; color:#333333;}

#small-module-content-border{border-left:solid 1px #e8dbcd; border-right: solid 1px #e8dbcd; width:281px; height:37px;}

#main-search-cont{ float:left; width:691px; height:auto;}

#main-search-bg{ background-color:#fff5e8; width:683px; height:auto; border:solid 4px #908374; float:left;}

#main-search-content{ padding-left:12px; padding-top:2px; padding-right:12px; padding-bottom:10px; float:left; width:659px; }

#main-search-header-text{color:#ff8200; font-size:16px; font-weight:bold; border-bottom:solid 4px #fb9014; line-height:25px;}

#main-search-pos{padding-top:9px; padding-bottom:10px; float:left; width:100%;}

#main-search-left-width, #main-search-left, #main-search-left-header{width:272px; }

#main-search-right-width, #main-search-right, #main-search-right-header{width:375px; }

#main-search-left{float:left; height:auto; padding-right:12px;}

#main-search-right{float:left; height:auto;}

#main-search-header-bg, #main-search-left-header, #main-search-right-header{background-image:url(../images/search-headerbg.jpg); background-repeat:repeat-x; height:29px;}

#main-search-left-header{ color:#FFFFFF; font-size:14px; font-weight:bold;}

#main-search-right-header{color:#FFFFFF; font-size:14px; font-weight:bold;}

#main-search-header-pos{padding-left:10px; padding-top:8px;}

#main-search-left-content{ float:left; width:270px; height:120px; border:solid 1px #d6d6d5; background-color:#f3f3f3;}

#main-search-right-content{ float:left; width:373px; height:120px; border:solid 1px #d6d6d5; background-color:#f3f3f3; color:#062284; font-weight:bold;}

.searchselect{ width:110px; height:22px; color:#062284; font-size:12px;}

.searchselect2{ width:110px; height:22px; color:#062284; font-size:12px;}

.searchbutton{ background-image:url(../images/search-button.png); background-repeat:no-repeat; width:55px; height:22px; border:none; color:#FFFFFF; cursor:pointer;}

.contactbutton{ background-image:url(../images/contact-button.png); background-repeat:no-repeat; width:75px; height:22px; border:none; color:#FFFFFF; cursor:pointer; text-align:center;}

.button160x27{ background-image:url(../images/longbutton.jpg); background-repeat:no-repeat; width:160px; height:27px; font-size:12px; border:none; color:#FFFFFF; cursor:pointer;}

.button9022{ background-image:url(../images/button_90x22.png); background-repeat:no-repeat; width:90px; height:22px; font-size:12px; border:none; color:#FFFFFF; cursor:pointer;}
	/*background:url('../images/button_90x22.png') no-repeat;
	width:90px;
	height:22px;
	float:left;
	color:#fff;
}*/

/*.comparebutton{ background-image:url(../images/compare-button.png); background-repeat:no-repeat; width:55px; height:22px; border:none; color:#FFFFFF;}*/

.searchtext{ width:655px; height:20px;}

#main-search-padding{padding:15px; }

#main-search-padding1{padding-bottom:8px;}

#main-search-padding2{padding-bottom:12px;}

#main-search-padding3{padding-top:15px; padding-left:15px; padding-right:8px; float:left; width:350px; height:auto;}

#main-search-alpha1{float:left; width:46px; height:25px;}

#main-search-alpha2{float:left; width:20px; height:25px;}

#component-container{padding-bottom:10px; float:left; width:100%; background-color:#FFFFFF; border:solid 1px #e1e8ff;}

#component-content{ padding-top:10px; float:left; width:100%; height:auto;}

#component-content1{ padding-top:10px; padding-left:10px; padding-right:10px; float:left; width:600px; height:auto;}

div.componentheading{ color:#fe8700; font-size:13px; font-weight:bold; line-height:25px; padding-left:20px;}

.linebreak{border-bottom:solid 2px #fb9014; height:3px;}

#register-table{ padding-left:5px; padding-top:5px; padding-right:5px;}

.newsletter_text{width:214px; height:16px;}

#tabcont{padding-bottom:20px; padding-top:10px; border-bottom:dotted 1px #979797; float:left; width:100%; height:auto;}

#tabcont-sub{padding-bottom:20px; padding-top:10px; border-bottom:dotted 1px #979797; float:left; width:218px; height:auto;}

#tabcont-ads{padding-top:10px; float:left; width:660px; height:auto;}

#tabimg-border{border:solid 1px #d0d0d0; width:89px;}

#tabimg{ width:89px; float:left;}

#tabimg-padding{padding:2px;}

#tabtext-cont{float:left; width:175px; padding-left:10px;}

#tabtext-cont1{float:left; width:120px; padding-left:5px;}

#tabtext-padding{padding-bottom:5px;}

#tabtext-padding1{padding-bottom:5px; color:#062284; font-weight:bold;}

#tabtext-font{ color:#333333;}

#tabcont-long{padding-bottom:20px; padding-top:16px; border-bottom:dotted 1px #979797; float:left; width:100%; height:auto;}

#tabtext-cont-long{float:left; width:500px; padding-left:10px;}

#liststyle{ margin-left:-25px;}

#liststyle ul {	list-style-image: url(../images/bullet1.png);color:#45599f; font-size:13px; border-bottom:dotted 1px #979797; padding-bottom:5px;margin-top:8px; margin-bottom:0; }

#liststyle-padding{padding-left:10px; padding-right:10px; padding-bottom:10px;}

#liststyle1 ul {list-style-image: url(../images/bullet1.png);color:#45599f; font-size:13px; border-bottom:dotted 1px #979797; padding-bottom:5px; padding-left:15px;}

#sub-content-border{/*background-color:#FFFFFF;*/ /*border:solid 1px #e2e9fe;*/ width:100%; height:auto; float:left;}

#sub-content-padding{ padding:0;}

/*#sub-content-padding{ padding:15px;}*/

#reg_header{padding-left:20px; color:#fe8700; font-size:14px; font-weight:bold;}

#reg_header1{padding-left:20px; color:#fe8700; font-size:16px; font-weight:bold;}

#reg_border{border-bottom:solid 2px #fb9014; line-height:25px;}

#reg_agent_bg{background-color:#908373; color:#FFF; font-size:14px; height:27px;}

#reg_agent_header{line-height:30px; padding-left:10px;}

#reg_agent_cont{padding-top:20px;}

#sliders_pt_lft1, #sliders_pt_lft2{
	cursor:pointer;position:absolute;top:120px;left:0;
}

#sliders_pt_rgt1, #sliders_pt_rgt2 {
	cursor:pointer;position:absolute;top:120px;right:0;
}

select.inputbox{ width:267px;}

select.dinputbox{width:50px;}

select.minputbox{width:144px;}

select.yinputbox{width:60px;}

input.inputbox{ width:260px;}

#ads-header-text{color:#ff8200; font-size:16px; font-weight:bold; line-height:20px; padding-bottom:5px;}

#featured_owner_cont{float:left; width:659px; height:auto; padding-top:10px; padding-bottom:10px; border-left:solid 1px #ccc; border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; background:url(../images/featuredownerbg.png) no-repeat #fff; }

.icon-img{ vertical-align:middle;}

.icon-img1{ vertical-align:text-top;}

.icon-img2{ vertical-align:text-bottom;}

ul.login_bullet li a{ color:#000000; text-decoration:none;}

ul.login_bullet li a:hover{ text-decoration:underline;}

#profile_menu {
	padding-bottom:20px; padding-top:5px; margin: 0; float: left; text-align:center;}

ul.profile_menu li {
    width:130px;
    margin:7px 0 0 0;
    padding:0 2px 0 1px;
    line-height:15px;
    float:left;
}

ul.profile_menu li a { text-decoration:none; color:#0000FF;}
ul.profile_menu li a:hover{ text-decoration:underline;}

#menu_list_profile_detail{
	width:100%;
}

td.tableheader {
background-color:#8cbdef;
border-right: solid 1px #FFF;
}

td.tablerow {
border-right: solid 1px #c1dff9;
border-bottom: solid 1px #c1dff9;
}

td.tablerow1 {
border-bottom: solid 1px #c1dff9;
}

input.company_logo{ height:20px;}

#menu_list_user_register{
	width:100%;
}
#menu_list_user_register1{
	width:100%; float:left;
}

/*ul.tab_nav88 {
	padding: 0; margin: 0; margin-left:5px; float: left; width: 600px; height:58px; text-align:center; }

ul.tab_nav88 li {
    width:130px;
    margin:7px 0 0 0;
    padding:0 2px 0 1px;
    line-height:15px;
    float:left;
}

ul.tab_nav88 li a { text-decoration:none; color:#0000FF;background-image:url(../images/nonselect_user.png);
	background-repeat:no-repeat;}
ul.tab_nav88 li a:hover{ text-decoration:underline;}*/

ul.tab_nav88
{
list-style: none;
padding: 0;
margin:8px 0 0;
} 

ul.tab_nav88 li
{
float: left;
margin: 0 0.4em 2em;

} 

.chinese_text_reg {
	color:#fa8b11;
	font-size:13px;
	font-weight:bold;
}

.english_text_reg {
	color:#797373;
	font-size:13px;
}

ul.tab_nav88 li a
{
background: url(../images/nonselect_user.png) top left no-repeat;
height: 67px;
line-height: 1.25em;
float: left;
width: 115px;
display: block;
color: #000000;
text-decoration: none;
text-align: center;
} 

ul.tab_nav88 li a:hover
{
background: url(../images/select_user.png) center left no-repeat;
height: 67px;
line-height: 1.25em;
float: left;
width: 115px;
display: block;
color: #000000;
text-decoration: none;
text-align: center;
} 

ul.tab_nav88 li.tabactive88 a{
	background: url(../images/select_user.png) center left no-repeat;
	height: 67px;
	line-height: 1.25em;
	float: left;
	width: 115px;
	display: block;
	color: #000000;
	text-decoration: none;
	text-align: center;
	color:#FFFFFF;
}


ul.tab_nav77{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em;
}

ul.tab_nav77 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav77 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
}


ul.tab_nav77 li.tabactive77 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

ul.tab_nav999{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;
}

ul.tab_nav999 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav999 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav999 li.tabactive999 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}
ul.tab_nav995{
	/*border-bottom:3px solid #FC8F0A;*/
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;
}

ul.tab_nav995 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav995 li a{
	/*background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;*/
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav995 li.tabactive995 a{
	/*background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;*/
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

ul.tab_nav998{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;
}

ul.tab_nav998 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav998 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav998 li.tabactive998 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}


ul.tab_nav997{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;
}

ul.tab_nav997 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav997 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav997 li.tabactive997 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

ul.tab_nav996{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;


}

ul.tab_nav996 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav996 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav996 li.tabactive996 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}




ul.tab_nav99{
	border-bottom:2px solid #eeeeee;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em;
}


ul.tab_nav99 li{
	color:#575757;
	display:inline;
	font-size:12px;
	background-color:#4864b8;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 4em;
	text-decoration:none;
}

ul.tab_nav98{
	border-bottom:2px solid #eeeeee;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em;
}


ul.tab_nav98 li{
	color:#575757;
	display:inline;
	font-size:12px;
	background-color:#4864b8;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 2em;
	text-decoration:none;
}

ul.tab_nav222{
	/*border-bottom:3px solid #FC8F0A;*/
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 630px;
}

ul.tab_nav222 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav222 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav222 li.tabactive222 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

.editbutton{background-image:url(../images/edit.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.deletebutton{background-image:url(../images/delete.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.soldbutton{background-image:url(../images/sold.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.rentbutton{background-image:url(../images/rent.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.refreshbutton{background-image:url(../images/refresh.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.publishbutton{background-image:url(../images/publish.jpg); background-repeat:no-repeat; width:22px; height:22px; border:none; padding-bottom:3px; cursor:pointer;}

.hasTip{ border:solid 1px #666666;}

#acct_info_cont{ float:left; width:625px;; padding-left:30px; border-bottom:solid 2px #fb9014; padding-top:15px;}

#acctinfo_border{color:#494949; font-weight:bold; border-left:solid 1px #CCCCCC;border-top:solid 1px #CCCCCC;border-right:solid 1px #CCCCCC; padding:6px; width:116px; }

/*#adsdetails_link a{color:#062284; font-weight:bold; text-decoration:none;}

#adsdetails_link a:hover{ text-decoration:underline;}*/

#thanklink{ padding-left:25px; line-height:20px;}

#thanklink a{ color:#330099; text-decoration:underline;}

#listinglink{float:left; width:200px; color:#334d7a; font-size:12px;}

#listinglink a{ color:#334d7a; text-decoration:none;}

#listinglink a:hover{ text-decoration:underline;}

#service_cont{padding-top:20px; float:left; width:100%; height:auto; padding-bottom:20px;}

#service_header{padding-left:10px; line-height:32px; font-weight:bold; background-color:#908373; width:615px; height:auto; color:#fff; font-size:14px;}

#service_container{float:left; width:623px; height:auto; border:solid 1px #e1e8ff;}

#row_container{float:left; width:623px; height:auto;}

#row_container1{float:left; width:623px; height:auto; border-top:solid 1px #e1e8ff;}

#left_column{float:left; width:70px; height:52px; color:#fe8500; font-weight:bold; font-size:13px; padding-top:10px; padding-bottom:10px; background-color:#f0f0f0; padding-left:12px; padding-right:10px;}

#left_column1{float:left; width:70px; height:16px; color:#fe8500; font-weight:bold; font-size:13px; padding-top:9px; padding-bottom:10px; background-color:#f0f0f0; padding-left:12px; padding-right:10px;}

#right_column{float:left; width:530px; height:auto; border-left:solid 1px #e1e8ff;}

#right_top{float:left; width:510px; padding:10px; }

#right_bottom{float:left; width:530px; border-top:solid 1px #e1e8ff;}

#right_bottom_left{float:left; background-color:#f7f7f7; width:30px; height:auto; padding:10px; color:#fe8500; font-weight:bold; font-size:13px; border-right:solid 1px #e1e8ff;}

#right_bottom_right{float:left; width:430px; padding:10px;}

#right_bottom_left1{float:left; background-color:#f7f7f7; width:30px; height:auto; padding:10px; color:#fe8500; font-weight:bold; font-size:13px; }

#right_bottom_right1{float:left; width:430px; padding:10px; border-left:solid 1px #e1e8ff;}

#explainlink{float:left; width:80px; padding-bottom:5px; padding-left:547px;}

#explainlink1{float:left; width:90px;}

#explainlink a, #explainlink1 a{ text-decoration:none; color:#000000;}

#explainlink a:hover, #explainlink1 a:hover{ text-decoration:underline;}

#layer1{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 500px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer2{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 600px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer3{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 700px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer4{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 700px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer5{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 700px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer6{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 130px;
	left: 500px;
	top: 700px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#layer7, #layer8, #layer9, #layer10, #layer11, #layer12{
	position: absolute;
	visibility: hidden;
	width: 400px;
	height: 200px;
	left: 500px;
	top: 600px;
	background-color:#CCCCCC;
	border: 1px solid #000;
	padding: 10px;
}

#close {
	float: right;
}

#returnmsg{ line-height:18px;}
#component-contact{ padding-left:20px; padding-top:20px;}

.list_prop_high88 {
	width:154px;
	float:left;
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
#module-padding7{ margin-top:-15px;padding-bottom:10px; float:left; width:100%;}

#module-padding9{margin-top:-15px;padding-bottom:10px; float:left; width:100%;}

#module-pos6{float:left; width:636px; margin-top:-15px;}

#center-module-content{ width:634px; padding-bottom:36px;}

#small-module-border2{border:solid 1px #e1e8ff; height:auto; padding-bottom:14px; float:left;}

#main-search-cont{ float:left; width:691px; height:auto; margin-top:-14px;}

#static-small-module{ background-image:url(../images/smodule-headerbg.jpg); background-repeat:repeat-x; height:38px; float:left; margin-bottom:-15px;}

#module-padding2{padding-bottom:20px; float:left; width:574px; height:auto; background-color:#FFFFFF; margin-top:-20px;}

}

/* ANDREAS STYLE FOR IHOUSE COMPONENT */
#component-title {
background:url("../images/module-header-logo.png") no-repeat scroll left top transparent;
color:#FFFFFF;
float:left;
font-size:13px;
height:26px;
padding-left:30px;
padding-top:4px;
width:88%;
}

#component-headerpos {
float:left;
height:30px;
padding-left:14px;
padding-top:6px;
width:95%;
}

#sub-small-component, #sub-small-component-border {
	width:100%;
	background-image:url("../images/module-headerbg.jpg");
	background-repeat:repeat-x;
	float:left;
	height:39px;
}


#component-border, #small-component-border, #mid-component-border, #sub-small-component-border {
border:1px solid #E1E8FF;
float:left;
height:auto;
}
#component-pos {
float:left;
width:100%;
}

.list_prop_high {
	width:154px;
	float:left;
	height:auto;
	padding-bottom:20px;
	padding-top:10px;
}

.list_prop_specialist {
	width:213px;
	float:left;
	padding-bottom:20px;
	padding-top:10px;
}

.agent_list_profile {
	width:233px;
	float:left;
	/*padding-bottom:20px;
	padding-top:10px;*/
}

.list_specialist {
	width:223px;
	float:left;
	padding-bottom:10px;
}

.table-border-ihouse th,
.table-border-ihouse td { 
	border:1px dotted #ccc;
}

.button90x22 {
	background:url('../images/button_90x22.png') no-repeat;
	width:90px;
	height:22px;
	float:left;
	color:#fff;
}

.popular_img {
	background:url('../images/numbering-button.png') no-repeat;
	width:16px;
	height:16px;
}

#propertyInfo12wrap{
	height:auto !important;
	min-height:460px;overflow:hidden;
}

.displFloorPlan{
	padding:5px;
	width:100%;
}

#google_map_image{
	visibility:visible;
}

.wrapper_info{
	float:left;margin:10px 24px 10px 24px;width:93%;overflow:hidden;
}

.wrapper_info_content {
	position: relative; left:0px;width:1300px;
}

#sliders_pt_lft{
	cursor:pointer;position:absolute;top:120px;left:0;
}

#sliders_pt_rgt {
	cursor:pointer;position:absolute;top:120px;right:0;
}

ul.tab_nav3,
ul.tab_nav4,
ul.tab_nav5,
ul.tab_nav6{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em;
}

.fp_img {
	border:medium none;
}

ul.tab_nav3 li,
ul.tab_nav4 li,
ul.tab_nav5 li,
ul.tab_nav6 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav3 li a,
ul.tab_nav4 li a,
ul.tab_nav5 li a,
ul.tab_nav6 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
}



ul.tab_nav3 li.tabactive3 a,
ul.tab_nav4 li.tabactive4 a,
ul.tab_nav5 li.tabactive5 a,
ul.tab_nav6 li.tabactive6 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

.borderPropertyTab {
	border-left:1px solid #ccc;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	/*border-left:3px solid #ff8200;
	border-right:3px solid #ff8200;
	border-bottom:3px solid #ff8200;
	*/
}



table#condo_directory_2_table td{
	border:1px dotted #ccc;
	padding:10px;
}
table#condo_directory_2_table th {
	background-color:#FF8200;
	color:#fff;
	padding:10px;
}

/* Popular Module */
#module-content-directory1 {
	background-color:#f0f0f0;
	color:#ff8200;
	height:29px;
	width:100%;
}

#module-content-directory2 {
	height:37px;
	width:100%;
}

#small-module-content-directory-text1 {
	float:left;
	padding-left:5px;
	width:203px;
}

#small-module-content-directory-text1 a,
#small-module-content-directory-text1 a:active
{
	color:#384d7c;
	text-decoration:none;
}

#small-module-content-directory-text2 {
	padding-right:40px;float:right;text-align:center;
	color:#384d7c;
}

#tabtext-padding1 a {
	color:#062284;
	font-weight:bold;
	text-decoration:none;
}

#small-module-content-directory-border {
	border-left:1px solid #E8DBCD;
	border-right:1px solid #E8DBCD;
	border-bottom:1px solid #E8DBCD;
	height:37px;
	width:100%;
}

.color-text1 {
	color:#4d4e50;
}

.chinese_text1{
	color:#fff;
	font-size:15px;
	font-weight:bold;
}

.chinese_text_menu {
	color:#fff;
	font-size:15px;
}

.link_sector {
	color:#062284;
	font-weight:bold;
	text-decoration:none;
}

#liststyle_sector ul {
	color:#45599F;
	font-size:13px;
	padding-left:15px;
	margin-top:4px;
	margin-bottom:0;
}

#liststyle_sector ul li {
	list-style-image:url("../images/bullet1.png");
	border-bottom:1px dotted #ccc;
}

.specialist_info {
	float:left;
	margin:10px 24px;
	overflow:hidden;
	width:93%;
}


.specialist_info_content {
	left:0;
	position:relative;
	width:1400px;
}

#directory-search-alpha1 { 
	float:left; width:46px; height:25px;
}

#directory-search-alpha1 a{
	color:#142e8b;
	text-decoration:none;
}

#directory-search-alpha1 a.active{
	color:red;
	text-decoration:none;
}


.pagination a{
	text-decoration:none;
	color:#000;
}

.pagination #inactive {
	background-color:#ff8200;
	color:#fff;
	padding:3px;
	width:7px;
}

/* Search Menu */
.search-menu-text-ads {
	color:#FF8200;
	font-size:16px;
	font-weight:bold;
	line-height:25px;
	float:left;
	cursor:pointer;
}

#search_new,#search_second, #search_rent {
	margin-left:10px;
}

#searchselect_if {
	color:#062284;
	font-size:12px;
}

/* System Message */
#system-message{
	background-color:#fff;
}

#property_detail_title,
#search_detail_title{
	border-bottom:2px solid #FB9014;
	color:#FF8200;
	font-size:16px;
	line-height:25px;
	padding-left:15px;
	padding-top:10px;
}

#menu_list_property_detail{
	/*padding-top:10px;*/
	width:100%;
}

#top_menu_list_property_detail{
	width:100%;
}

.blue_text1 {
	color:#062284;
	font-size:12px;
	font-weight:bold;
}

#property_detail_image .nav-prev {
	left:0 !important;
}

#property_detail_image .nav-next {
	right:0 !important;
}

#property_detail_image #pointer {
	border:3px solid #ff8200 !important;
}
#property_detail_image #pointer img {
	display:none;
}


.searchselect_if {
	color:#062284; font-size:12px; font-weight:bold;
}

/* GLOBAL SEARCH */
#form_global_search{
	margin-top:-17px;
}

#autocomplete_pos_search{
	position:relative;
	left:52px;
	background-color:#fff;
	border:1px solid #000;
	display:none;
	z-index:100;
}

.property_search {
	padding:2px 5px 2px 5px;
	cursor:pointer;
}

.property_search:hover{
	color:#fff;
	background-color:#ff8200;
}

/* Posting Ads - Form */
.postingAdsWrapper{
	padding:10px;
}

.imgFileInput {
	cursor:pointer;position:absolute;font-size:10px;opacity:0;margin:0;top:0;right:0;z-index:10;
	padding-top:10px;
}

/* Loader */
#prop_type_loader,
#prop_name_loader,
#pic_uploading_loader{
	float:left;margin-left:5px;display:none;
}

/* */
.listing-padding {
	padding:10px;
}

/* Pagination Box */
.pagination_box {
	text-align:right;margin:10px;
}

a.no_decoration {
	text-decoration:none;
	color:#4D4E50;
}

/* Listing Ads - row */
.adslistingdetails,
.adslistingprofile,
.guruprofile,
.thisspecialistprofile{
	padding:2px 0;
}

.adslistingdetails .l{
	float:left;
	width:50px;
}

.adslistingdetails .m{
	float:left;
	margin-left:5px;
	width:1px;
}

.adslistingdetails .r{
	float:left;
	margin-left:10px;
	width:170px;
}

.adslistingprofile .l{
	float:left;
	width:50px;
}

.adslistingprofile .m{
	float:left;
	margin-left:5px;
	width:1px;
}

.adslistingprofile .r{
	float:left;
	margin-left:10px;
	width:110px;
}

.guruprofile .l{
	float:left;
	width:50px;
}

.guruprofile .m{
	float:left;
	margin-left:5px;
	width:1px;
}

.guruprofile .r{
	float:left;
	margin-left:10px;
	width:160px;
}

.thisspecialistprofile .l {
	float:left;
	width:50px;
}

.thisspecialistprofile .m {
	float:left;
	margin-left:5px;
	width:1px;
}

.thisspecialistprofile .r {
	float:left;
	margin-left:10px;
	width:140px;
}




/* Homepage Subscrption Popup */
.homepage_popup{
	position:absolute;
	z-index:100;
	margin-left:-20px;
	width:350px;
	height:200px;
	margin-top:70px;
}

.homepage_popup .l {
	float:left;
	background:url(../images/home_popup_l.png) center right no-repeat;
	width:13px;
	height:144px;
}

.homepage_popup .m {
	float:left;
	background:url(../images/home_popup_m.png) center right repeat-x;
	width:320px;
	height:144px;
}

.homepage_popup .r {
	float:left;
	background:url(../images/home_popup_r.png) center right no-repeat;
	width:12px;
	height:144px;
}

/* iHouse Logo Link */
#iHouselogoLink{
	position:absolute;
	width:310px;
	height:120px;
	z-index:100;
}

/* Review */
.review_label {
	float:left;
	width:60px;
	font-size:15px;
}

.review_guideline{
	float:left;
	width:30px;
	color:#062284;
}

.review_padding1{
	padding:7px 0;
}

.review-cols1 {
	float:left;border-right:1px solid #ccc; width:250px;
}

.review-cols2 {
	float:left;margin-left:10px;border-right:1px solid #ccc;width:240px;
}

.review-cols3 {
	
}

.review_percent1{
	float:left;margin-left:10px;color:#062284;
}

.review-button{
	float:left;margin-left:10px;
}

.guide_title1 {
	float:left;
	font-size:15px;
	font-weight:bold;
}

.guide_padding1 {
	padding:5px 0;
}

.prop_review_label {
	float:left;width:50px;
}

/* Property Detail Table Display 1 */
#tablist {
	border-left:3px solid #FF8200;
	border-bottom:3px solid #FF8200;
	border-right:3px solid #FF8200;
	width:99.3%;
	padding:0;
	margin:0;
	min-height:300px;
}

table#prop_det_info,
table#prop_det_info td
{
	border:0.5px solid #999;
}

td#table-detail-font {
	color:#45599F;font-size:14px;
}
td.table-detail-font-value {
	font-size:13px;
}

.table_space{
	margin:5px;
	font-weight:bold;
}

a.see_more{
	color:#ff8200;text-decoration:none;
}

/* ADS SEARCH CSS */
ul.search_tabs { list-style:none; margin:0; padding:0; }
.search_tabs li { float:left; width:100px; margin:0; padding:0; text-align:center; }
.search_tabs li a { display:block; padding:5px 10px; height:100%; color:#000; text-decoration:none; border-right:1px solid #fff; }
.search_tabs a:hover, .search_tabs a:focus, .search_tabs a:active { background-color:#C96; }

ul.tabs { list-style:none; margin:0; padding:0; }
.tabs li { float:left; width:100px; margin:0; padding:0; text-align:center; }
.tabs li a { display:block; padding:5px 10px; height:100%; color:#000; text-decoration:none; border-right:1px solid #fff; }
.tabs a:hover, .tabs a:focus, .tabs a:active { background-color:#C96; }

/* Condo Directory 1 CSS */
#condo_directory1_space1 {
	margin-top:8px;
}
/* Condo Directory 2 CSS */
tr.sortable th a{
	color:#fff;
	text-decoration:none;
}

/* BREADCRUMB */
.breadcrumbs a.pathway{
	color:#525252;
	text-decoration:none;
}


/* EMAIL FORM - CONTACT */
.popupForm{
	position:fixed;z-index:1001;width:600px;top:100px;left:400px;
}

.popupForm #t{

}

.popupForm #t #l{
	background:url('../images/popup/l-top.png') no-repeat;
	width:12px;
	height:12px;
	float:left;
}

.popupForm #t #c{
	background:url('../images/popup/c-top.png') repeat-x;
	width:550px;
	height:12px;
	float:left;
}

.popupForm #t #r{
	background:url('../images/popup/r-top.png') no-repeat;
	width:12px;
	height:12px;
	float:left;
}

.popupForm #m{

}

.popupForm #m #l{
	background:url('../images/popup/m-left.png') repeat-y;
	width:12px;
	height:400px;
	float:left;
}

.popupForm #m #c{
	background-color:#fff;
	width:550px;
	height:400px;
	float:left;
}

.popupForm #m #r{
	background:url('../images/popup/m-right.png') repeat-y;
	width:12px;
	height:400px;
	float:left;
}

.popupForm #b{
	
}

.popupForm #b #l{
	background:url('../images/popup/l-bottom.png') no-repeat;
	width:12px;
	height:12px;
	float:left;
}

.popupForm #b #c{
	background:url('../images/popup/c-bottom.png') repeat-x;
	width:550px;
	height:12px;
	float:left;
}

.popupForm #b #r{
	background:url('../images/popup/r-bottom.png') no-repeat;
	width:12px;
	height:12px;
	float:left;
}

#popupFormBox {
}

#popupFormBox #padding {
	padding:10px 5px 10px 5px;
}

#popupFormBox #title{
	float: left; 
	width: 100%; 
	color: rgb(254, 135, 0); 
	font-size: 16px; 
	font-weight: bold; 
	border-bottom: 1px solid rgb(251, 144, 20);
}

textarea#textarea-emailformbox{
	width:500px;
	height:100px;
}
#emailform {
	width:470px;
	margin:0px 10px;
}
.emailFormBox {
	margin:10px 0;
}

#text-message-sbm {
	margin-top:10px;color:#525252;font-size:16px;
}

/* FINANCIAL CALCULATOR */

#financial_calculator_box{
	float:left;padding:10px 0 10px 0;width:100%;
}

#financial_calculator_box select{
	width:105px;
}
#financial_calculator_box input {
	width:100px;
	text-align:right;
}

.label_finc_calc {
	float:left;
	text-align:right;
	width:80px;
	margin:4px 0;
}

.value_finc_calc{
	float:left;margin-left:10px;
	margin:4px 0 4px 5px;
}

/* Property Detail */
#menu_supplement_propdetail {
	float: left; 
	width: 100%; 
	padding-bottom: 20px; 
	color: rgb(91, 91, 91); 
	font-size: 13px; 
	font-weight: bold;
}

#condo_directory2 {
	float:left;
	background-color:#fff;
	width:100%;
	margin-top:10px;
}

#prop_detail_wrapper {
	padding:15px;
}

.prop_detail_box {
	padding-top:15px;
}
/* Ads Detail */

#ads_detail {
	float:left; width:100%; margin:10px 0;background-color:#FFFFFF;
}

#ads_detail_wrapper {
	padding:15px;
}

#ads_detail_tools {
	float:left; width:100%; padding:10px 0; color:#5b5b5b; font-size:13px; font-weight:bold;
}

#ads_detail_title { 
	float:left; width:100%; color:#fe8700; font-size:16px; font-weight:bold; border-bottom:solid 2px #fb9014;
}

#ads_detail_title_padding {
	padding-left:15px; padding-top:10px; padding-bottom:5px;
}

.ads_detail_box {
	padding-top:15px;
}



.pagination_right {
	float:right;margin:10px 0 10px 0;
}
/* 2011-8-4 */
.adsimgbg {background-image:url(/images/img-bg.jpg);background-repeat:no-repeat; width:166px; height:146px;padding-left:2px;padding-top:2px;}
.sidebaradsimgbg {background-image:url(/images/sidebarimg-bg.jpg);background-repeat:no-repeat; width:90px; height:69x;padding-left:2px;padding-top:2px;}
.recommendedadsimgbg {background-image:url(/images/recommendedadsimgbg.jpg);background-repeat:no-repeat; width:150px; height:113x;padding-left:2px;padding-top:2px;}
/* 2011-11-10 */
#textlink { width:900px;}
#textlink ul li {float: left;text-align: center; height:22px; width:100px;list-style-type:none;}
#textlink ul li a {color: #062284; }
#textlink ul li a:hover { color: #3366CC;}