#cbregTitle 				{	}
#cbregField					{	}
.cbregPlansList				{	width:100%;		border:0px;		margin:0px;	}
.cbregPlansList	.cbregPlanSelector					{	margin-bottom: 6px; }
.cbregPlansList	.cbregPlanSelector	.cbregTick		{	float: left;	width: 2%;	vertical-align: baseline;	margin-top: 3px;	margin-right: 8px; }
.cbregPlansList	.cbregPlanSelector	.cbRegNameDesc	{	float: left;	width: 88%; }
.cbregName					{	padding-bottom: 2px;	font-size: 115%;	}
.cbregDescription, .cbregAfterSubDescription		{	padding-bottom: 4px;	}
.cbregValidity				{	font-weight: bold;	}
.cbregRate					{	font-weight: bold;	}
.cbregDiscountRate			{	font-weight: bold;		color: green; }
#cbregSubscribed, #cbregUpgradePossibilities			{	font-size: 130%;	margin-top: 20px;	margin-bottom: 10px;	}
#cbregSubscr .cbregDescription, #cbregSubscr .cbregAfterSubDescription, #cbregSubscr .cbregValidity, #cbregSubscr .cbregSubPlanSelector	{	margin-left: 35px;	}
.cbregName span		{ margin-left: 15px;	}
.cbregButton				{	margin: 5px 0px }
.cbregIntro, .cbregConcl	{	margin: 0px;	}

.cbregBasket				{	border: 1px solid #888;		margin-top: 20px;	margin-bottom: 20px;	}
.cbregBasket td, .cbregBasket th	{	padding: 3px;	}
.cbregBasket  table			{	width: 90%;		margin: 10px;	border-collapse:collapse;	}
.cbregBasket  table	caption {	font-size: 150%;	font-weight: bold;	margin: 10px;	}
.cbregBaItdescription,	.cbregBaItartnum,	.cbregBaItquantity,	.cbregBaItordering 				{	text-align: left;	vertical-align:baseline;	}
.cbregBaItrate, .cbregBaItFColrate	{	text-align: right;	vertical-align:baseline;	}
.cbregBasket	tfoot .cbregBaItFLinetotal		{	font-weight: bold;	}
.cbregBasket table > tfoot > tr:first-child td { border-top: 1px solid #444; }
.cbregBasket table > thead > tr th { border-bottom: 1px solid #444; }

.cbreginvoice		{	padding: 10px;	}
.cbreginvoice div	{	padding: 0px;	}
.cbreginvoice .cbreginvoiceHeader, .cbreginvoice .cbreginvoiceFooter	{	width: 100%;	}
.cbreginvoice .cbregInvTitle	{	font-weight: bold;	}
.cbreginvoice .cbregInvField	{	}
.cbreginvoice .cbregInvoiceDate	{	margin-top: 16px;	margin-bottom: 10px;	}
.cbreginvoice .cbreginvoicedaddress	{	font-size: 130%;	margin-top: 20px;	margin-bottom: 10px;	margin-left: 10px;	}
.cbreginvoice .cbregInvoiceNumber	{	width: 100%;	text-align: center;	font-size: 200%;	font-weight: bold;	}
.cbreginvoice .cbregBasket	{	border: 0px;	}
.cbreginvoice .cbregInvoicePaymentType, .cbreginvoice .cbregInvoiceConditions	{	margin-top: 4px;	margin-bottom: 6px;	}
.cbreginvoice #cbpaidPrint, .cbreginvoice #cbpaidClose	{	width: 100%;	text-align: center;	margin-bottom: 6px;	}
#cbAdminFormForm .cbreginvoice	{	margin: 20px;	}

.cbregInvoicesList table#cbregInvListTable	{	width: 95%;	margin: 10px;	border-collapse:collapse;	}
.cbregInvoicesList table#cbregInvListTable th, .cbregInvoicesList table#cbregInvListTable td	{	padding: 4px;	}

@media print {
	body	{	margin: 2cm 2.5cm 2cm 3cm;	}
	#cbpaidPrint, #cbpaidClose	{	display: none;	}
	.cbreginvoice .cbreginvoiceFooter	{	position: absolute;	bottom: 2cm;	}
}

/* invoicing address presentation: */
.adminform					{	width: 95%;	padding: 10px;	border-collapse: collapse;	background-color: #F9F9F9;	margin: 0px 10px 20px 10px;	}
.adminform fieldset			{	text-align: left;	}
.adminform fieldset legend	{	font-size: 1.1em;	font-weight: bold;	}
.adminform .paramlist td	{	padding: 3px;	}
.adminform .paramlist td	{	padding: 3px;	}
.cbregInvoiceLinks			{	padding: 3px;	}
.cbControlButtonsLine		{	margin: 5px 10px 25px 10px;	text-align: center;	}

.cbpaySlip					{	width: auto;	text-align: center;		margin-top: 6px;	margin-bottom: 12px;	}
.cbpaySlip a				{	display: block;	width: auto; margin: auto;	padding: 5px;	border: 2px red solid;	font-weight:bold;	font-size:125%;	}
div.cbpayChoices			{	width: 100%;			margin-left: auto;	margin-right: auto;	text-align: center; /* border: 2px solid #4F4; */	}

div.cbpayChoices div.cbpaidCCbutton		{	float:left;	width: auto;	margin-left: auto;	margin-right: auto;	text-align: left;	padding: 10px;	 /* border: 2px solid #F00; */	}

div.cbregDonationValue		{	vertical-align: baseline;	}

div.cbregCCnumexp { border: 2px solid black; margin: 0px; padding: 0px 15px 15px 15px; text-align: left; }
div.cbregCCnumexp div#cbregCardDetails { border: 2px #444 solid; border-radius: 35px 35px; -moz-border-radius: 35px 35px; -webkit-border-radius: 35px 35px; background-color: #E8E8FF; padding: 0px 15px 15px 15px; margin: 10px auto 10px auto; width: 70%; }
div.cbregCCnumexp div.cbregLabel { font-weight: bold; margin: 15px auto 4px 0px;}
div.cbregCCnumexp div.cbregCCtype { text-align: center !important; }
div.cbregCCnumexp div.cbregCCtype label img { border: 1px #888 solid; vertical-align: middle; }
div.cbregCCnumexp div.cbregCCtype label { margin-right: 12px; }
div.cbregCCnumexp div.cbregCCfirstname , div.cbregCCnumexp div.cbregCClastname { float: left; margin-right: 15px; }
div.cbregCCnumexp div.cbregCCcvv { margin-top: 15px; }
div.cbregCCnumexp div.cbregCCcvv div { display: inline; }
div.cbregCCnumexp div.cbregCCcvv div.cbregLabel { margin-right: 20px; }
div.cbregCCnumexp div.cbregCCcvv img { vertical-align: bottom; margin-left: 2px; }
div.cbregCCnumexp div.cbregCCbutton { vertical-align: middle; min-height: 38px; text-align: center !important; }
div.cbregCCnumexp div#cbpayWheel { margin: 4px 25px; vertical-align: middle; min-height: 38px; text-align: center !important; }
/* Loading Image */
.cbregAjLoading {
	background-image:	url(icons/hot/wheel_pay.gif);
	background-repeat:	no-repeat;
	background-position: 100px 30px;
	width:				130px;
	height:				60px;
}

/* default color styles for products and plans: */
/*
.cbregPlanStatus.cbreg_green .captionCell.cbregName		{ color: green; }
.cbregPlanStatus.cbreg_green .fieldCell.cbregParagraph	{ color: green; }
tr.cbregPlanSelector.cbreg_green		{ background-color: #AAFFAA; }
*/
div.cbregPlanStatus.cbreg_green,	.cbregPlanSelector.cbreg_green		{ color: #008800;	background-color: #AAFFAA; }
div.cbregPlanStatus.cbreg_red,		.cbregPlanSelector.cbreg_red		{ color: #880000;	background-color: #FFAAAA; }
div.cbregPlanStatus.cbreg_blue,	.cbregPlanSelector.cbreg_blue		{ color: #000088;	background-color: #AAAAFF; }
div.cbregPlanStatus.cbreg_yellow,	.cbregPlanSelector.cbreg_yellow	{ color: #442211;	background-color: yellow; }
div.cbregPlanStatus.cbreg_cyan,	.cbregPlanSelector.cbreg_cyan		{ color: #222244;	background-color: #00FFFF; }
div.cbregPlanStatus.cbreg_magenta,	.cbregPlanSelector.cbreg_magenta	{ color: #440044;	background-color: #FF00FF; }
div.cbregPlanStatus.cbreg_orange,	.cbregPlanSelector.cbreg_orange	{ color: #442200;	background-color: orange; }
div.cbregPlanStatus.cbreg_gold,	.cbregPlanSelector.cbreg_gold		{ color: #000000;	background-color: #D9D919; }
div.cbregPlanStatus.cbreg_silver,	.cbregPlanSelector.cbreg_silver	{ color: #000000;	background-color: #E6E8FA; }
div.cbregPlanStatus.cbreg_bronze,	.cbregPlanSelector.cbreg_bronze	{ color: #000000;	background-color: #A67D3D; }

/* Backend plans browser: */
#cbAdminMainWrapper .cbreg_admin_green		{ background-color: #66FF66; }
#cbAdminMainWrapper .cbreg_admin_red		{ background-color: #FF6666; }
#cbAdminMainWrapper .cbreg_admin_blue		{ background-color: #6666FF; }
#cbAdminMainWrapper .cbreg_admin_yellow		{ background-color: yellow; }
#cbAdminMainWrapper .cbreg_admin_cyan		{ background-color: #00FFFF; }
#cbAdminMainWrapper .cbreg_admin_magenta	{ background-color: #FF00FF; }
#cbAdminMainWrapper .cbreg_admin_orange		{ background-color: orange; }
#cbAdminMainWrapper .cbreg_admin_gold		{ background-color: #D9D919; }
#cbAdminMainWrapper .cbreg_admin_silver		{ background-color: #E6E8FA; }
#cbAdminMainWrapper .cbreg_admin_bronze		{ background-color: #A67D3D; }
.cbregHidden	{ display: none; }
