@media only screen and (max-width: 767px) {
  #id_search {
    width: 170px;
  }
  #id_message {
    height: 170px;
  }
  #submit_button {
    width: 220px;
    height: 40px;
  }
  #invite_method_tabs > li:not(.active) > a {
    border: 1px solid #ddd;
  }
}
#upload_contact_file_button {
    width: 130px;
    height: 50px;
}
.contacts-button-container a {
    text-transform: none;
    padding: 10px 40px 10px 40px;
    font-size: 16px;
}
legend .light-weight {
  font-weight: normal;
}
#id_search {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: right;
}
#select_all_label {
  padding-top: 5px;
  margin-left: 11px;
}
#contact_container {
  height:265px;
  border: 1px solid #BCBCBC;
  overflow-y: auto;
  overflow-x: hidden;
}
.contact_entry {
  margin-left: 0;
  padding-top: 3px;
  width: 100%;
  border-bottom: 1px solid #ECECEC;
  cursor: pointer;
}
.contact_entry label {
  margin-left: 0;
}
.contact-check {
  display: inline;
  margin-left: 10px !important;
  padding-top: 2px;
  height: 20px;
}
.contact-name {
  display: inline-block;
  line-height: 26px;
  margin-left: 10px !important;
  width:200px;
}
.contact-email {
  display: inline-block;
  line-height: 26px;
  color: #777;
  text-color: #777;
}
.contact-name-label {
  font-weight: bold;
}
.contact-name label, .contact-email label {
  display:inline;
  word-wrap: break-word;
  padding: 0px;
  font-weight: normal;
  overflow: hidden;
  text-overflow:ellipsis;
}
#no_results_box div.alert {
  font-size: 13px;
  width: 214px;
  text-align: center;
  margin: 90px auto;
  padding: 8px 10px;
}
#contact_error_alert {
  display: none;
  margin-top: 15px;
  margin-left: 0px;
}
#no_addresses_error {
  margin-top: 25px;
}
#email_invitation_form a.btn {
  margin: 0 5px 9px 0;
  display: inline-block;
}
#email_invitation_form a.btn img {
  max-width: 130px;
  max-height: 50px;
}
#abook_file_id {
  position: absolute;
  top: -100px;
}
.modal .modal-body {
  max-height: 420px;
}
.modal-body .error {
  font-size: inherit;
  color: #B94A48;
}
.accordion-heading {
  display: block;
  padding: 0 0 9px;
  border-bottom: 0;
}
.accordion-inner {
  padding: 0 0 1px;
  border-top: 0;
  border-bottom: 0;
}
.uploader-link-text {
  color: #326bb1;
  display: block;
  font-size: 13px;
  font-weight: bold;
  line-height: 130%;
  padding-top: 17px;
  text-transform: none;
}
#contact_selector {
  margin: 0 5px 0 0;
}
#contact_selector_control {
  line-height: 28px;
  display: inline-block;
}
