@font-face {
      font-family: "century";
      src: url("ufonts.com_century-gothic-2.ttf");
    }
@font-face {
      font-family: "centuryb";
      src: url("ufonts.com_century-gothic-bold-2.ttf");
}
@font-face {
      font-family: "centuryi";
      src: url("GOTHICI.TTF");
}
.headers { 
	font-family: "centuryb";
	font-size:30pt;
	color:#000000;
	letter-spacing:-4px;
	line-height:35px;
}
.readables{
	font-family: "centuryi";
	font-size:11pt;
	color:#000000;
	letter-spacing:0px;
	line-height:19px;
}
.disclaim{
	font-family: "centuryi";
	font-size:5pt;
	color:#000000;
	letter-spacing:0px;
}
#fp0_mc{
	position:absolute;
	left:375px;
	top:90px;
}
#fp0_img{
	position:absolute;
	z-index:0;
}
#fp0_desp{
	position:absolute;
	left:115px;
	top:25px;
}
#ipm0{
	position:absolute;
	width:22px;
	height:22px;
	left:230px;
	top:190px;
	z-index:3;
}
#ipm1{
	position:absolute;
	width:22px;
	height:22px;
	left:423px;
	top:305px;
	z-index:3;
}
#img0{
	position:absolute;
	width:22px;
	height:22px;
	left:423px;
	top:53px;
	
	z-index:3;
}
#tester{
	z-index:4;
	position:absolute;
}
#popContent{
	z-index:5;
	position:absolute;
}
#contents{
	border:0px solid #FF0000;
}
