#google_map_function {
	margin-top:-14px;
}

#mod_mapsearch {
	margin-top:-30px;
}

#searchmenu2 {
	height:32px;
}
/* MENU MAP FILTER */
#track_school{
	top:-10px;
}

#track_school2{
	top:-15px;
	left:50px;
}