body {
	z-index:-99999;
	overflow:auto;
	margin:0px;
	padding:0px;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;
}

.searchbutton{ 
	background-image:url("../images/button_63x20.jpg"); 
	background-repeat:no-repeat; 
	width:55px; height:22px; 
	border:none; 
	color:#FFFFFF; 
	cursor:pointer;
}

#searchmenu2{
	background:url("../images/center_bg_1x35.png") repeat-x;
	width:1198px;
	height:35px;
	float:left;
	border:1px solid #ccc;
}

#searchmenu2 #map_wrapper {
	margin:0;
	padding:7px 10px 7px 10px;
}

#mapsearch-mainmenu {
	float:left;
	font-size:15px;
	margin-left:20px;
}

#mapsearch-mainmenu a {
	color:#000;
	text-decoration:none;
	padding: 0 5px 0 5px;
}

#mapsearch-mainmenu a:hover,
#mapsearch-mainmenu a#active_menu {
	color:#ff8200;
	text-decoration:none;
}

#gmap_btn1 {
	background:url("../images/button_63x20.jpg") no-repeat;
	width:63px;
	height:20px;
	color:#fff;
	float:left;
}

#gmap_btn2 {
	background:url("../images/button_113x20.jpg") no-repeat;
	width:113px;
	height:20px;
	color:#fff;
	float:left;
	margin-left:10px;
}

#gmap_btn1 a,
#gmap_btn2 a,
#gmap_btn1 a:hover,
#gmap_btn2 a:hover{
	text-decoration:none;
	color:#fff;
}

.gmap_bg_filter {
	background:url("../images/center_bg.png") repeat-x scroll 0 0 transparent;
	border:1px solid #CCCCCC;
	float:left;
	height:28px;
	width:100%;
}

#google_map_function {
	margin-top:-14px;
}

#g_wrapper {
	float:left;
}

img {
	border:0;
}

#mod_mapsearch {
	margin-left:320px;
}

.infobox-tmpl {
	border: 1px solid ccc; margin-left:10px;margin-top: 8px; background: #fff; padding: 5px;
}

.infobox-menu1-box
{
	float:left;margin:5px;
}

.infobox-ads-listhtml {
	float:right;margin:5px;
}
.ads-mapsearch-loader {
	float:left;
	margin-left:10px;
}

.ads-list-box {
	margin:5px 0;
}

.infoBox-pagination {
	text-align:center;margin:10px 0;
}

a.linkage{ color:#FF8200;text-decoration:none;}
a.linkage1{ color:#062284; font-size:13px;font-weight:bold;text-decoration:none;}

.static-text{ color:#062284; font-size:15px; font-weight:bold;}
.static-text1{ color:#525252; font-size:13px; font-weight:bold;}

a.optionlist { color:#062284; font-size:15px;text-decoration:none;}

.optionbox-map,
.optionbox-map:hover { background-color:#062284;color:#fff; }

.paddinglist-map {margin:4px 2px;}

.cat_choices {position:absolute;background-color:#fff;border:1px solid #ccc;z-index:40;}
.second-level-optionlist{position:absolute;left:135px;z-index:50px;background-color:#fff;border:1px solid #ccc;}

/* MENU MAP FILTER */
#track_school{
	
}

#track_school2{
	position: relative; top:-15px;width: 255px; background-color: white; color: rgb(2, 86, 184);display:inline;
}