fieldset,img{border:0 none;}
:focus{outline:0;}
:link,:visited,ins{text-decoration:none;}

.gg_full {
	POSITION: relative; MARGIN: 0px auto; WIDTH: 960px;background:#e8e8e8 ;z-index:50000;
}
.gg_full .gg_fbtn {
	POSITION: absolute; WIDTH: 19px; DISPLAY: none; HEIGHT: 55px; TOP: 10px; right: -23px
}
.gg_full .gg_fbtn A {
	DISPLAY: block; BACKGROUND: url(http://singapore.ihouse360.com/special/Capellahotel/homepage/images/gg_btn.png) no-repeat 0px 0px; HEIGHT: 55px; OVERFLOW: hidden
}
.gg_full .gg_fbtn .gg_fclose {
	BACKGROUND: url(http://singapore.ihouse360.com/special/Capellahotel/homepage/images/gg_btn.png) no-repeat -19px 0px
}
.gg_full .gg_fcon {
	DISPLAY: none; HEIGHT: 250px;
}