body {
	background:url(../images/topbg.jpg) repeat-x top #f0f0f0;
	z-index:-99999;
	overflow:hidden;
	margin:0;
	padding:0;
	font-size:12px; 
	font-family:Arial, Helvetica, sans-serif;
}


#wrapper{height:auto; width:960px; margin:auto; padding:auto;}

#menu-container{ float:left; width:100%; height:58px;}

#main-menu-static{background-image:url(../images/menubg_sg.jpg); background-repeat:no-repeat; width:960px; height:58px; padding-top:7px; font-size:13px; font-weight:bold;}

#static-home-menu{float:left; font-size:20px; padding-top:14px; padding-left:20px; padding-right:20px; border-right:dotted 1px #596bf0; height:48px;}

#static-home-menu a{color:#062284; text-decoration:none;}

/* Static Navigation */
#static-menu-module{ float:left;}
#static-menu-module ul { padding-left: 0; margin-left: 0; color: #062284; float: left; width: 834px;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	font-size: 16px;
   	font-weight:bold;
}
#static-menu-module ul li { display: inline;}
#static-menu-module ul li a#current { color: #062284; }
#static-menu-module ul li a {color: #062284; text-decoration: none; float: left;padding: 15px 28px 6px 28px; text-align: center; background:url(../images/static-spacer.png) center right no-repeat; height:30px;}
#static-menu-module ul li.item114 a{  background:none;	}
#static-menu-module ul li a:hover { color: #3366CC;}

/*toggle menu style*/
h2.trigger {
	padding: 0 0 0 15px;
	margin: 0 0 0px 0;
	background: url(../images/sidemenu-backgd.jpg) no-repeat;
	height: 37px;
	/*line-height: 50px;*/
	width: 203px;
	font-size: 18px;
	font-family:"Trebuchet MS", Verdana, Arial, sans-serif;
	font-weight: normal;
	float: left; 

}
h2.trigger a {
	color: #ffffff;
	text-decoration: none; padding-left:20px; height: 37px; float:left;
	line-height: 37px;
	/*display: block;*/
}
h2.trigger a:hover { color: #ccc; }
h2.active {background-position: left bottom;} /*--When toggle is triggered, it will shift the image to the bottom to show its "opened" state--*/


#togglemenu {
	padding: 0;
	margin:0;
	overflow: hidden;
	font-size: 13px;
	list-style:outside;
}

#togglemenu ul{border-bottom:dotted 1px #acacac; list-style-image: url(../images/bullet.jpg);padding-bottom:5px;margin-top:0; margin-bottom:0; margin-left:0; padding-left:35px; padding-top:8px;}

#footer-bg{ background-image:url(../images/footerbg.jpg); background-repeat:repeat-x; height:150px; width:100%; margin:0px; padding:0px;}

#footer-text{ float:left; width:600px; height:20px; padding-top:10px; padding-bottom:10px;}

#footer-text a{ color:#1e3894; font-weight:bold; text-decoration:none;}

#footer-text a:hover{ text-decoration:underline;}

#footer-copy{float:left; width:600px; height:20px; padding:0; margin:0;  font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#000000;}

#topcontainer {	float:left;	width:100%; height:213px;}

#top-banner { position:absolute; z-index:0;	width:960px; height:213px;}

span.mainlevel{ padding-left:10px; padding-right:10px;}	

#top-menu-content table{ width:248px; height:35px; float:left;}

#top-menu-content a{color:#062284; font-size:12px; font-weight:bold; text-decoration:none;}

#top-menu-content a:hover{text-decoration:underline;}

#top-share { position:absolute; z-index:4;	width:125px; padding-left:580px; padding-top:8px; }

#top-menu {	position:absolute;	z-index:5;	padding-left:712px; width:248px; height:30px; }

#menubg { height:35px; width:225px;	line-height:30px;}

#top-menu-content { width:248px; height:35px; float:left;}

#top-menu-content a{color:#062284; font-size:12px; font-weight:bold; text-decoration:none;}

#top-menu-content a:hover{text-decoration:underline;}

#top-login{ position:absolute; z-index:2; padding-left:842px; padding-top:35px;}

#top-loginbg{ background-image:url(../images/loginbg.jpg); background-repeat:no-repeat; width:118px; height:25px;}

#breadcrumb-container{ float:left; width:100%; height:24px;}

#breadcrumb-bg{ background-image:url(../images/breadcrumb-bg.jpg); background-repeat:repeat-x; width:958px; height:22px; border:solid 1px #d0d7ef;}

#breadcrumb-content{ padding:5px; padding-left:20px; color:#525252;}

#search-container{ float:left; width:100%; height:40px;}

#search-bg{background-image:url(../images/searchbg.jpg); background-repeat:no-repeat; width:960px; height:38px;}

#search-content{padding-top:8px; padding-left:20px; padding-right:20px; width:920px; height:38px; float:left; font-size:13px;}

#search-pos1{float:left; width:280px; height:28px;}

#search-pos2{width:50px;}

#search-pos3{width:240px; }

#search-pos3 a{ color:#ffffff; text-decoration:underline; font-size:14px;}

#search-pos3 a:hover{ text-decoration:none;}

.clear{clear: both; padding-bottom:1px;}

.clear1{clear:both; padding-bottom:9px;}

.clear2{clear: both; padding:5px;}

.clear3{clear: both; padding:10px;}

.clear4{ float:left; width:9px;}

.enter_button{ background-image:url(../images/main-button.png); background-repeat:no-repeat; width:62px; height:18px; border:0; color:#FFFFFF; padding-top:4px; font-size:10px; cursor:pointer;}

.contactbutton{ background-image:url(../images/contact-button.png); background-repeat:no-repeat; width:75px; height:22px; border:0; color:#FFFFFF; cursor:pointer;}

.searchselect{ width:110px; height:22px; color:#062284; font-size:12px;}

.searchbutton{ background-image:url(../images/search-button.png); background-repeat:no-repeat; width:55px; height:22px; border:0; color:#FFFFFF; padding-top:3px; cursor:pointer;}

.button160x27{ background-image:url(../images/longbutton.jpg); background-repeat:no-repeat; width:160px; font-size:12px; height:27px; border:0; color:#FFFFFF; cursor:pointer;}


.editbutton{background-image:url(../images/edit.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.deletebutton{background-image:url(../images/delete.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.soldbutton{background-image:url(../images/sold.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.rentbutton{background-image:url(../images/rent.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.button9022{ background-image:url(../images/button_90x22.png); background-repeat:no-repeat; width:90px; height:22px; font-size:12px; border:0; color:#FFFFFF; cursor:pointer;}

.refreshbutton{background-image:url(../images/refresh.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.publishbutton{background-image:url(../images/publish.jpg); background-repeat:no-repeat; width:22px; height:22px; border:0; cursor:pointer;}

.rightpadding, #left-wrap{ padding-right:10px;}

.rightpadding1, #map-wrap{ padding-right:7px;}

.floatleft, #left-wrap, #map-wrap{ float:left;}

.blueborder, #blueborder-cont{ border:solid 1px #e1e8ff;}

#blueborder-cont{ float:left; width:958px; height:auto;}

#banner-border{ background-color:#FFFFFF; padding:8px; width:942px;}

#smallbanner-cont, #small-module-content-cont2{ float:left; width:100%; height:auto; }

#main-map-border{ background-color:#FFFFFF; padding:12px; width:934px; float:left;}

#google-map-cont{float:left; width:569px; height:297px; border:solid 1px #a3a3a3;}

#google-map-border{float:left; width:561px; height:289px; padding:4px; background-color:#6c6c6c;}

#map-search-button{ float:left; width:224px;}

#main-content-container{float:left; width:100%; height:auto; margin-top:-15px;}

#sub-content-container{float:left; width:100%; height:auto;}

#main-left-content-cont{ width:637px; height:auto; float:left; padding-right:10px;}

#main-right-content-cont{ width:313px; height:auto; float:left;}

#sub-left-content-cont{ width:249px; height:auto; float:left; padding-right:20px; }

#sub-right-content-cont{ width:691px; height:auto; float:left;}

#static-left-content-cont{ width:205px; height:auto; float:left; padding-right:9px;}

#static-center-content-cont{ width:576px; height:auto; float:left; padding-right:10px;}

#static-center-content-border{float:left; width:536px; border:solid 1px #e2e9fe; background-color:#FFFFFF; }

#static-center-sub-content{float:left; width:501px; border:solid 1px #e2e9fe; background-color:#FFFFFF; padding-left:18px; padding-right:17px; padding-top:12px; padding-bottom:20px;}

#static-sub-content-cont{width:746px; height:auto; float:left; margin-top:10px;}

#static-sub-content{float:left; width:711px; border:solid 1px #e2e9fe; background-color:#FFFFFF; padding-left:18px; padding-right:17px; padding-top:12px; padding-bottom:20px;}

#static-sub-content-border{float:left; width:746px; border:solid 1px #e2e9fe; background-color:#FFFFFF; }

#static-sub-content-text{padding-left:18px; padding-right:17px; padding-bottom:10px; float:left; width:711px;}

#bottom-sub-content-cont{float:left; width:711px; padding-left:18px; padding-right:17px; padding-bottom:10px; padding-top:10px;}

#static-right-content-cont{ width:160px; height:auto; float:left;}

#static-right-banner-cont{float:left; width:100%; padding-bottom:10px;}

#static-right-banner-border{border:solid 1px #878889;}

/*#static-text-cont{float:left; width:400px; padding-left:10px;}*/

#static-text-cont{float:left; width:610px; padding-left:10px;}

#static-text{ color:#062284; padding-bottom:5px; font-size:15px; font-weight:bold;}

#static-center-header-cont{padding-top:12px; padding-bottom:10px; color:#fe8700; font-size:14px; font-weight:bold; border-bottom:solid 2px #fb9014;}

#static-center-header{padding-left:18px; padding-right:17px;}

#static-center-content-text{padding-left:18px; padding-right:17px; padding-bottom:10px; float:left; width:501px;}

#main-cont{ float:left; width:100%; height:auto;}

/*#static-module{width:500px;}*/

#static-module{width:710px;}

#module-headerbg, #small-module, #center-module, #mid-module, #sub-small-module, #static-module, #ads-module{ background-image:url(../images/module-headerbg.jpg); background-repeat:repeat-x; height:39px; float:left; }

/*#module-logo{ background-image:url(../images/module-header-logo.png); background-repeat:no-repeat; width:23px; height:23px; float:left;}*/

#module-headerpos{padding-left:14px; padding-top:6px; width:95%; height:30px; float:left;}

#module-headerpos1{padding-left:14px; padding-top:3px; width:95%; height:30px; float:left;}

#module-border, #small-module-border, #small-module-border2, #center-module-border, #mid-module-border, #small-ban-border, #sub-small-module-border{border:solid 1px #e1e8ff; height:auto; float:left;}

#module-pos{float:left; width:313px; padding-right:10px;}

#module-pos1{float:left; width:313px;}

#module-pos2{float:left; width:152px; padding-right:9px; padding-bottom:10px;}

#module-pos3{float:left; width:322px;}

#module-pos4{ float:left; width:249px;}

#module-pos5{ float:left; width:205px;}

#module-pos6{float:left; width:636px;}

#module-title{padding-left:30px; padding-top:4px; color:#ffffff; font-size:13px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-title1{padding-left:30px; padding-top:4px; color:#ffffff; font-size:15px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-title2{padding-left:30px; color:#ffffff; font-size:13px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left center no-repeat;}

#small-module-content-cont{float:left; width:100%; height:auto; padding-bottom:10px;}

#small-module-content-cont1{float:left; width:100%; height:auto; padding-top:5px;}

#small-module-content-text{float:left; width:220px; color:#c57c2d; font-size:13px;}

#small-module-content-text1{float:left; width:60px; color:#66460c; font-size:12px;}

#small-module-content-text2{float:left; width:60px; line-height:22px; font-size:14px; font-weight:bold; color:#5b5b5b;}

#small-module-content-text3{float:left; color:#5b5b5b;}

#small-module-content-text4{float:left; width:216px; color:#ff8200; font-size:11px;}

#small-module-content-text5{color:#ff8200; font-size:14px; line-height:22px; font-weight:bold; float:left; width:100%;}

#small-module-content-text6{border-bottom:dotted 1px #979797; line-height:25px; font-size:12px; color:#333333; float:left; width:100%;}

#small-module-content-text7{float:left; padding-left:5px; width:203px;}

#small-module-content-text8{float:left; padding-left:10px; width:35px;}

#small-module, #small-module-border, #small-module-border2, #small-module-content{ width:311px;}

#center-module, #center-module-border, #center-module-content{width:634px;}

#mid-module, #mid-module-border, #mid-module-content{ width:635px;}

#sub-small-module, #sub-small-module-border,#sub-small-module-content{ width:247px;}

#ads-module{ width:800px;}

#static-small-module, #static-small-module-border, #static-small-module-content{ width:203px;}

#static-small-module-border{border:solid 1px #d3d3d7; height:auto; float:left;}

#static-small-module{ background-image:url(../images/smodule-headerbg.jpg); background-repeat:repeat-x; height:38px; float:left; }

#static-small-module-content{ background-color:#FFFFFF; height:auto; float:left;}

#static-module-title{padding-left:30px; color:#ffffff; font-size:22px; width:88%; height:26px; float:left; 
background:url(../images/module-header-logo.png) left top no-repeat;}

#module-content-cont, #small-module-content, #center-module-content, #mid-module-content, #sub-small-module-content{ background-color:#FFFFFF; height:auto; float:left; padding:0px;}

#adscontainer{border-bottom:solid 1px #ccc; padding-bottom:10px; float:left; width:100%; height:auto; padding-left:10px;}

#adscontainer1{padding-top:20px; float:left; width:690px; margin-top:-10px;}

#module-padding, #module-padding9{padding-bottom:10px; float:left; width:100%;}

#module-padding7{padding-bottom:10px; float:left; width:100%; margin-top:-15px;}

#module-padding8{padding-bottom:10px; float:left; width:100%; margin-top:-5px;}

#module-padding11{ float:left; width:576px; background-color:#FFFFFF;border-bottom:solid 1px #e2e9fe; padding-top:10px; padding-bottom:10px;}

#ajax-infodetails, #component-start{float:left; width:100%; margin-top:-10px;}

#module-content-padding{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:280px; float:left;}

#module-content-padding1{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:604px; float:left;}

#module-content-padding2{padding-top:10px; float:left; width:100%;}

#module-content-padding3{padding-top:5px; padding-left:10px;}

#module-content-padding4{padding-top:8px; padding-left:10px;}

#module-content-padding5{padding-top:2px; padding-left:10px;}

#module-content-padding6{padding-left:16px; padding-top:10px; padding-bottom:20px; padding-right:15px; width:216px; float:left;}

#module-content-padding7{padding-bottom:20px; padding-right:15px; width:100%; float:left;}

#module-content-padding8{padding-left:16px; padding-bottom:20px; padding-right:15px; width:603px; float:left;}

#module-content-img{float:left; padding-top:6px; width:16px;}

#module-content-backgd{border:solid 1px #b2a697; background-color:#decfbe; color:#704f12; height:24px;  float:left; width:281px;}

#module-content-backgd1{ background-image:url(../images/module-bg1.jpg); width:283px; height:29px; color:#333333;}

#module-content-backgd2{ background-image:url(../images/module-bg2.jpg); background-repeat:repeat-x; width:281px; height:37px; color:#333333;}

#small-module-content-border{border-left:solid 1px #e8dbcd; border-right: solid 1px #e8dbcd; width:281px; height:37px;}

#main-search-cont{ float:left; width:691px; height:auto; margin-top:-14px;}

#main-search-bg{ background-color:#fff5e8; width:683px; height:auto; border:solid 4px #908374; float:left;}

#main-search-content{ padding-left:12px; padding-top:2px; padding-right:12px; padding-bottom:10px; float:left; width:659px; }

#main-search-header-text{color:#ff8200; font-size:16px; font-weight:bold; border-bottom:solid 4px #fb9014; line-height:25px;}

#main-search-pos{padding-top:9px; padding-bottom:10px; float:left; width:100%;}

#main-search-left-width, #main-search-left, #main-search-left-header{width:272px; }

#main-search-right-width, #main-search-right, #main-search-right-header{width:375px; }

#main-search-left{float:left; height:auto; padding-right:12px;}

#main-search-right{float:left; height:auto;}

#main-search-header-bg, #main-search-left-header, #main-search-right-header{background-image:url(../images/search-headerbg.jpg); background-repeat:repeat-x; height:29px;}

#main-search-left-header{ color:#FFFFFF; font-size:14px; font-weight:bold;}

#main-search-right-header{color:#FFFFFF; font-size:14px; font-weight:bold;}

#main-search-header-pos{padding-left:10px; padding-top:8px;}

#main-search-left-content{ float:left; width:270px; height:120px; border:solid 1px #d6d6d5; background-color:#f3f3f3;}

#main-search-right-content{ float:left; width:373px; height:120px; border:solid 1px #d6d6d5; background-color:#f3f3f3; color:#062284; font-weight:bold;}

.searchselect{ width:110px; height:22px; color:#062284; font-size:12px;}

.searchselect2{ width:110px; height:22px; color:#062284; font-size:12px;}

.searchtext{ width:655px; height:20px;}

#main-search-padding{padding:15px; }

#main-search-padding1{padding-bottom:8px;}

#main-search-padding2{padding-bottom:12px;}

#main-search-padding3{padding-top:15px; padding-left:15px; padding-right:8px; float:left; width:350px; height:auto;}

#main-search-alpha1{float:left; width:46px; height:25px;}

#main-search-alpha2{float:left; width:20px; height:25px;}

#component-container{padding-bottom:10px; float:left; width:100%; background-color:#FFFFFF; border:solid 1px #e1e8ff;}

#component-content{ padding-top:10px; float:left; width:100%; height:auto;}

div.componentheading{ color:#fe8700; font-size:13px; font-weight:bold; line-height:25px; padding-left:20px;}

.linebreak{border-bottom:solid 2px #fb9014; height:3px;}

#register-table{ padding-left:25px; padding-top:5px; padding-right:25px;}

.newsletter_text{width:214px; height:16px;}

#tabcont{padding-bottom:20px; padding-top:10px; border-bottom:dotted 1px #979797; float:left; width:100%; height:auto;}

#tabcont-sub{padding-bottom:20px; padding-top:10px; border-bottom:dotted 1px #979797; float:left; width:218px; height:auto;}

#tabcont-ads{padding-bottom:20px; padding-top:10px; float:left; width:660px; height:auto;}

#tabimg-border{border:solid 1px #d0d0d0; width:89px;}

#tabimg{ width:89px; float:left;}

#tabimg-padding{padding:2px;}

#tabtext-cont{float:left; width:175px; padding-left:10px;}

#tabtext-cont1{float:left; width:120px; padding-left:5px;}

#tabtext-padding{padding-bottom:5px;}

#tabtext-padding1{padding-bottom:5px; color:#062284; font-weight:bold;}

#tabtext-font{ color:#333333;}

#tabcont-long{padding-bottom:20px; padding-top:16px; border-bottom:dotted 1px #979797; float:left; width:100%; height:auto;}

#tabtext-cont-long{float:left; width:500px; padding-left:10px;}

#liststyle1{ padding-top:25px;}

#liststyle-padding{ width:235px; padding:0; margin:0;}

#liststyle1 ul {list-style-image: url(../images/bullet1.png); line-height:10px; color:#45599f; font-size:13px; border-bottom:dotted 1px #979797; padding-left:15px; margin-left:15px; margin-top:-6px;}

#liststyle{
	list-style:outside;padding: 0;
	margin:0;
	overflow: hidden; padding-top:8px; 
}

#liststyle ul {	list-style-image: url(../images/bullet.jpg);color:#45599f; font-size:13px; border-bottom:dotted 1px #979797; padding-bottom:5px;margin-top:0; margin-bottom:0;margin-left:0; padding-left:18px; padding-top:8px;}

#sub-content-border{background-color:#FFFFFF; border:solid 1px #e2e9fe; width:100%; height:auto; float:left;}

#sub-content-padding{ padding:15px;}

#reg_header{padding-left:20px; color:#fe8700; font-size:14px; font-weight:bold;}

#reg_border{border-bottom:solid 2px #fb9014; line-height:25px;}

#reg_agent_bg{background-color:#908373; color:#FFF; font-size:14px; height:27px;}

#reg_agent_header{line-height:30px; padding-left:10px;}

#reg_agent_cont{padding-left:20px; padding-right:20px; padding-top:20px;}

#sliders_pt_lft1, #sliders_pt_lft2{
	cursor:pointer;position:absolute;top:120px;left:0;
}

#sliders_pt_rgt1, #sliders_pt_rgt2 {
	cursor:pointer;position:absolute;top:120px;right:0;
}

select.inputbox{ width:267px;}

select.dinputbox{width:50px;}

select.minputbox{width:144px;}

select.yinputbox{width:60px;}

input.inputbox{ width:260px;}

#ads-header-text{color:#ff8200; font-size:16px; font-weight:bold; line-height:20px; padding-bottom:5px;}

#featured_owner_cont{float:left; width:659px; height:auto; padding-top:10px; padding-bottom:10px; border-left:solid 1px #ccc; border-right:solid 1px #ccc; border-bottom:solid 1px #ccc; background:url(../images/featuredownerbg.png) no-repeat #fff; }

.icon-img{ vertical-align:middle;}

.icon-img1{ vertical-align:text-top;}

.icon-img2{ vertical-align:text-bottom;}

ul.tab_nav999{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 -1px;
	padding:0 0 0 530px;
	float:left;

}

ul.tab_nav999 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav999 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.6em 0.6em 0.6em;
	text-decoration:none;
	margin:3px 0 0 0;
	float:left;
	
}


ul.tab_nav999 li.tabactive999 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.6em 0.6em 0.7em;
	float:left;
}

ul.tab_nav995{
	/*border-bottom:3px solid #FC8F0A;*/
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	padding:0 0 0.4em 532px;
}

ul.tab_nav995 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav995 li a{
	/*background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;*/
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	padding:0.4em 0.6em;
	text-decoration:none;
	
}


ul.tab_nav995 li.tabactive995 a{
	/*background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;*/
	color:#FFFFFF;
	padding:0.4em 0.6em 0.5em;
}

ul.tab_nav998{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 -1px;
	padding:0 0 0 530px;
	float:left;
}

ul.tab_nav998 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav998 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	text-decoration:none;
	padding:0.6em 0.6em 0.6em;
	text-decoration:none;
	margin:3px 0 0 0;
	float:left;
}


ul.tab_nav998 li.tabactive998 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.6em 0.6em 0.7em;
	float:left;
}


ul.tab_nav997{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 -1px;
	padding:0 0 0 530px;
	float:left;
}

ul.tab_nav997 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav997 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	text-decoration:none;
	padding:0.6em 0.6em 0.6em;
	text-decoration:none;
	margin:3px 0 0 0;
	float:left;
}


ul.tab_nav997 li.tabactive997 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.6em 0.6em 0.7em;
	float:left;
}

ul.tab_nav996{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 -1px;
	padding:0 0 0 530px;
	float:left;
}

ul.tab_nav996 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav996 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	text-decoration:none;
	padding:0.6em 0.6em 0.6em;
	text-decoration:none;
	margin:3px 0 0 0;
	float:left;
	
}


ul.tab_nav996 li.tabactive996 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.6em 0.6em 0.7em;
	float:left;
}

ul.tab_nav77{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	padding:0 0 0;
	float:left;
	width:100%;
}

ul.tab_nav77 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav77 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	/*margin:0 0.2em 0 0;*/
	text-decoration:none;
	padding:0.6em 0.6em 0.6em;
	text-decoration:none;
	margin:3px 0 0 0;
	float:left;
}


ul.tab_nav77 li.tabactive77 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.6em 0.6em 0.6em;
	float:left;
}


/* ANDREAS IE FIX */
#propertyInfo12wrap{

	height:490px;overflow:hidden;position:relative;
}

.wrapper_info,
.specialist_info {
	overflow:hidden;position:relative;
}

.wrapper_info_content,
.specialist_info_content {
	position: relative; left:0;width:1400px;word-wrap: break-word;
}

.list_prop_high {
	width:154.8px;
}

.displFloorPlan{
	width:655px;
}

/* GLOBAL SEARCH */
#form_global_search
{
	margin-top:-36px;
}

#autocomplete_pos_search {
	margin-top:-20px;
}

/* Posting Ads Fix */
.postingAdsWrapper {
	padding:0;
}

.imgFileInput {
	filter: alpha(opacity=0);
}

.postAdsPadding {
	padding:0;
}


#property_detail_title, #search_detail_title {
    border-bottom: 2px solid #FB9014;
    color: #FF8200;
    font-size: 16px;
    line-height: 25px;
}

.galleryview {
	margin:0;
}

/* Home Subscription Popup - fix */
.homepage_popup{
	position:absolute;
	margin-left:-320px;
}

.module-padding {
	margin-top:-50px;
}

#iHouselogoLink{
	background-color:#fff;
	filter: alpha(opacity=0);
	cursor:pointer;
}

/* Review - Fix */
.review-button{
	margin-left:2px;
}

.rating-button {
	margin-top:-10px;
}

/* Table Display 1 at Property Detail */
table#prop_det_info,
table#prop_det_info td
{
	border:1px solid #999;
}

ul.tab_nav3,
ul.tab_nav4,
ul.tab_nav5,
ul.tab_nav6{
	border-bottom:3px solid #FC8F0A;
	list-style-image:none;
	list-style-type:none;
	margin:8px 0 0;
	/*padding:0 0 0.3em 0px;*/
	padding:0 0 0;
	float:left;
	width:100%;
}

.fp_img {
	border:medium none;
}

ul.tab_nav3 li,
ul.tab_nav4 li,
ul.tab_nav5 li,
ul.tab_nav6 li
{
	color:#575757;
	display:inline;
	font-size:12px;
}

ul.tab_nav3 li a,
ul.tab_nav4 li a,
ul.tab_nav5 li a,
ul.tab_nav6 li a{
	background-color:#908374;
	border-color:#908374 #908374 -moz-use-text-color;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	text-decoration:none;
	margin:3px 0 0 0;
    padding:0.5em 0.6em;
	float:left;
}

ul.tab_nav3 li.tabactive3 a,
ul.tab_nav4 li.tabactive4 a,
ul.tab_nav5 li.tabactive5 a,
ul.tab_nav6 li.tabactive6 a{
	background-color:#FC8F0A;
	border-color:#FC8F0A #FC8F0A -moz-use-text-color;
	border-left:1px solid #FC8F0A;
	border-style:solid solid none;
	border-width:1px 1px medium;
	color:#FFFFFF;
	padding:0.4em 0.6em 0.6em;
	float:left;
}

#tablist {
	border-left:3px solid #FF8200;
	border-bottom:3px solid #FF8200;
	border-right:3px solid #FF8200;
	width:99.1%;
	padding:0;
	margin:0;
	min-height:300px;
	float:left;
}

/* FINANCIAL CALCULATOR */
#financial_calculator_box{
	float:left;width:100%;
}
.label_finc_calc {
	width:100px;
	margin:;
}
#financial_calculator_box select{
	width:95px;
}
#financial_calculator_box input {
	width:90px;
}

.value_finc_calc {
    margin:0 0 0 3px ;
}

/* CONDO DIRECTORY SPACE */
#condo_directory1_space1 {
	margin-top:-5px;
}

/* PROPERTY DETAIL - FIX */
#menu_supplement_propdetail {
	padding: 0; 
}

#condo_directory2 {
	margin:0;
}

.pagination_right {
	margin:0;
}

#liststyle_sector ul {
    padding: 0;
	margin:4px 0 4px 30px;
}

.component-pos{
	margin-top:-14px;
}

.prop_detail_box{
	padding:0;
}

.prop_detail_box2 {
	margin-top:25px;
}

.prop_detail_box3 {
	margin-top:15px;
}
.prop_detail_box4 {
	margin:0;
}
/* ADS DETAIL - FIX */
#ads_detail {
	margin:0;
}

#ads_detail_tools {
	padding:0;
}

.ads_detail_box {
	padding:0;
}

.ie_ads_detail_image {
	margin-left:-20px;
}

.ads_detail_box2 {
	padding-top:8px;
}