/* Community Builder 1.2 template file */
/* Name: WebFX */

/* cbFields: For registration and user profile titles and fields: */
/* cbStatusList: For User Profile Status List Display */
.cbFields, .cbStatusList {
	margin:0px;
	padding:0px;
	border:0px solid black;
	width:98%;
	border-collapse:collapse;
}
.titleCell, .captionCell , table.content_table td.titleCell, table.content_table td.captionCell {
	font-weight:bold;
	text-align:	left;
	vertical-align:top;
	padding:3px 3px 4px 6px;
}
.titleCell {
	width:125px;
}
.fieldCell , table.content_table td.fieldCell, .fieldCell td, .tab_Description {
	font-weight:normal;
	text-align:	left;
	vertical-align:top;
	padding:3px 3px 4px 6px;
}
.fieldCell input, .fieldCell select {
	margin-top:0px;
	margin-left:0px;
	vertical-align: top;
}
.fieldError {
	color: red;
	padding:0px 0px 8px 0px;
}
/* NewG Validations for CB 2.0: */
.cbValidationError input {
	border-color: red !important;
}
.cbValidationError .titleCell {
	color: red !important;
}

table.cbMulti tr td {
	padding-right:12px;
}
.tab_Description {
	/* font-weight:bold; */
	padding: 8px 6px;
}
.delimiterCell {
	font-weight:bold;
	font-size:125%;
	padding:6px 0px 0px 0px;
}
.descriptionCell {
	font-weight:normal;
	font-size:95%;
	padding:2px 0px;
}
.cbSortHead {
	text-decoration:underline;
}
.cbSortHeadSelected {
	text-decoration:none;
	font-weight:bolder;
	color:black;
}
/* avatar on profile: */
tr.cbavatar_tr td.fieldCell {	text-align: center; width: 100%; }
.cbThumbPict, .cbFullPict {	border-style: none;	}

/* auxiliary settings on a tab: */
div.cbSideSetting { text-align: right; margin: 6px 2%; }

/* webaddress field with rows=2 formatting: */
.webUrlSpan, .webTextSpan { position: relative; display: block; line-height:2em; }
.subTitleSpan { padding-right: 250px; }
.subFieldSpan { position: absolute; top: 0px; left: 9em; }

/* For positioning user profile div positions: trick needed to workaround templates with floating uncleared divs */
.cbPageOuter, .cbProfile, .cbEditProfile, .cbUsersList	 {	margin: 0px;	border-width: 0px;	padding: 0px;	float: left;	width:99.6%;	}
.cbPageInner, #cbProfileInner, #cbEditProfileInner, #cbUsersListInner	 {	margin: 0px;	border-width: 0px;	padding: 8px;	float: none;	width:auto;		}
.cbPosHead, .cbPosTop, .cbPosLeft, .cbPosMiddle, .cbPosRight, .cbPosTabMain, .cbPosUnderAll {
				margin: 0px 0px 10px 0px;	border-width: 0px;	padding: 0px;	}
.cbPosTop	 {	vertical-align: bottom;	}
.cbPosLeft, .cbPosGrid   {	float:	left;	text-align:	left;	}
.cbPosMiddle {	float:	left;	text-align:	center;	}
.cbPosRight  {	float:	right;	text-align:	right;	}
.cbPosGridE	 {	margin: 0px;	border-width: 0px;	padding: 2px;	float: none;	width:auto;	}
.cbClr		 {	clear:	both;	}

/* For tableless forms */
form.cb_form							{	width: 100%;	margin: 0px;	padding: 0px;	border-width: 0px;	}
form.cb_form .cb_form_instructions		{	width: 98%;	text-align: left;	clear: both;	padding:8px 3px 8px 6px;	}
form.cb_form .cb_form_line				{	width: 98%;	text-align: left;	clear: both;	padding:3px 3px 4px 6px;	}
form.cb_form .cb_form_line label		{	display: block;	float: left;	width: 30%;		font-weight:bold;	vertical-align: top;	}
form.cb_form .cb_form_line div label	{	display: inline;float: none;	width: auto;	font-weight:normal;	}
form.cb_form .cb_form_line .cb_field	{	display: block;	float: left;	width: 70%;		font-weight:normal;	vertical-align: top;	}
form.cb_form .cb_form_line .cb_field input, form.cb_form .cb_form_line .cb_field select {
	margin-top:0px;
	margin-left:0px;
	vertical-align: top;
}
form.cb_form .cb_form_buttons_line		{	width: 100%;	text-align: center;		padding-top: 8px;	padding-bottom: 12px;	}

/* For table-based forms */
table#registrationTable	{	width:98%;	border-width: 0px;	border-collapse: collapse;	margin: 0px;	padding: 0px;	}

/* For CSS3 rounded-corners */
.cbtmpldialog {
	padding: 5px 16px 3px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	border: 2px solid #ccc;
	margin: 1em 0 2em;
	position: relative;

	background-color: #c6c6c6;
	background-color: rgba(198, 198, 198, 0.8);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 90%, from(rgba(180, 180, 180, 0.8)), to(rgba(255, 255, 255, .9)));
	background-image: -moz-linear-gradient(rgba(180, 180, 180, 0.8) 0%, rgba(255, 255, 255, .9) 90%);
	border-top-color: #ccc;
	border-right-color: #aaa;
	border-bottom-color: #bbb;
	border-left-color: #aaa;	
	
	-webkit-box-shadow: rgba(170, 170, 170, 0.5) 0px 10px 16px;
	-moz-box-shadow: rgba(170, 170, 170, 0.5) 0px 10px 16px;
}
.cbtmpldialog .cbtmplhd {
	position: absolute;
	top: 0;
	left: 5px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	height: 1px;
	width: 98.5%; margin: 0px;
	padding: 8px 0px;
	background-color: rgba(255, 255, 255, 0.25);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 95%, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0) 95%);
}

/* For user-lists: */
table#cbUserTable		{	width:100%;	border-width: 0px;	border-collapse: collapse;	margin: 0px;	padding: 0px;	}
table#cbUserTable	td	{	padding: 5px;	}
table#cbUserTable	th	{	padding: 5px;	font-weight: bold;	}
.cbUserListSearchButtons {	margin: 4px 0px 10px 0px;	}
.cbUserListSearch		{	margin: 0px;	border-width: 0px;	padding: 0px;	width:100%;	}
.cbUserListSearchBox	{	float:	left;	text-align: left;	width: 47%;	}
div.cbUserListChanger		{	float:	right;	text-align: right;	width: 47%;	}
div.cbUserListChanger div.cbUserListChangeItem	{	margin-bottom: 6px;	}
.cbUserListDescription, .cbUserListResultCount	{	margin-bottom: 10px;	}
#cbUserListsSearchTrigger	{	display: none;	}

/* For dynamic tabs on user profile and edit user: */

.dynamic-tab-pane-control h2.tab {
	text-align:	center;
	width:		auto;
}
.dynamic-tab-pane-control h2.tab a {
	display:	inline;
	width:		auto;
}
.dynamic-tab-pane-control h2.tab a:hover {
	background: transparent;
}
.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;
	margin:		0px;
}
.dynamic-tab-pane-control .tab-row .tab {
	font-family:	Verdana, Helvetica, Arial, sans-serif;
	font-size:		12px;
	cursor:			Default;
	display:		inline;
	margin:			1px -5px 1px 5px;
	float:			left;
	padding:		3px 6px 3px 6px;
	background:		rgb(234,242,255);
	border:			1px solid;
	border-color:	rgb(120,172,255);
	border-left:	0px;
	border-bottom:	0px;
	border-top:		0px;
	cursor:			pointer;
	z-index:		1;
	position:		relative;
	top:			0px;
}
.dynamic-tab-pane-control .tab-row .tab.selected {
	border:			1px solid rgb(120,172,255);
	border-bottom:	0px;
	z-index:		3;
	padding:		2px 6px 5px 6px;
	margin:			1px -6px -1px 0px;
	top:			-2px;
	background:		white;
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	background:		rgb(244,248,255);
}
.dynamic-tab-pane-control .tab-row .tab a {
	font-family:	Verdana, Helvetica, Arial, sans-serif;
	font-size:		10px;
	color:			rgb(0,66,174);
	text-decoration:	none;
	cursor:			pointer;
	outline:		0;
}
.dynamic-tab-pane-control .tab-row .hover a {
	color:	rgb(0,97,255);
}
.dynamic-tab-pane-control .tab-row .tab.selected a {
	font-weight:	bold;
}
.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid rgb(120,172,255);
	background:		White;
	z-index:		2;
	position:		relative;
	top:			-2px;
	color:			Black;
	width:			100%;
}
.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
	background:		rgb(234,242,255);
}
.dynamic-tab-pane-control .tab-page .tab-content {
	margin: 10px;
}

/* For tool-tips: */

.cb-tips-font {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; color: #000000;}
.cb-tips-capfont {font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 10px; font-weight: bold; color:  #FFFFFF;}
.cb-tips-closefont {font-family: Arial, sans-serif; font-size: 12px; font-weight: bold; color:  #FFFFFF; text-align: right;}
.cb-tips-closefont a:link, .cb-tips-closefont a:visited {color:  #FFFFFF;}
.cb-tips-closefont a:hover {color: #00CCFF;}
.cb-tips-fg {background-color: #CCCCFF;}
.cb-tips-bg {background-color: #333399;}
.cb-tips-button, .cb-tips-button:link, .cb-tips-button:visited, .cb-tips-hover  {
	margin: 0px 0.5em 0.5em 0;	padding: 0;	white-space: nowrap;	text-align: center; display: block; width: 8em;
	background:rgb(234,242,255);
	color:rgb(0,66,174);
	font:bold 12px Verdana,Helvetica,Arial,sans-serif;
	border:2px solid rgb(120,172,255);
	padding:1px;
/*
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
*/
	text-decoration:none;
	padding:1px;
}
.cb-tips-button:hover , .cb-tips-hover:hover {
	background:#0000A0;
	color:white;
	text-decoration:none;
}

/* For connections display: connectionBox */
/* For images moderation: containerBox */

.cbConnectionPaths { width: 100%;	text-align: center;		clear: both; }
.connectionBox, .containerBox {
	float:left;

	padding: 4px;
	margin: 5px 3px;
	background: white;
	border: 1px groove #cccccc;
	border-color: #AAA #444 #444 #AAA;
	text-align: center;
}

/* For tab positions: */
#cbPosUpper		{	border: 0px solid;	width:100%	}
#cbPosHead		{	text-align: left;	border: 0px;	vertical-align: top; 	width:	100%;	}
#cbPosLeft		{	text-align: left;	border: 0px;	vertical-align: bottom;	}
#cbPosMiddle	{	text-align:	center;	border: 0px;	vertical-align: bottom;	}
#cbPosRight		{	text-align:	right;	border: 0px;	vertical-align: bottom;	}
#cbPosTabMain	{	text-align: left;	border: 0px;	}
#cbPosUnderAll	{	text-align: center;	border: 0px;	}
/* For User Profile Title */
#cbProfileTitle { }
.cb_tab_contains_tab	{	width:97%; margin:13px 1% 13px 1%;	}

/***** menu BestCSS *****/
@media print {	.cbMenu, .cbSSmenu	{	visibility:hidden;	}	}
/* BestCSS Menu Functional: */
.cbpMenu		{	margin: 0px;	padding: 0px;		z-index: 4;	}
.cbMenu, .cbSSmenu {margin: 0px !important;	padding: 0px !important;	white-space: nowrap;	text-align: left;	float: left;	list-style: none outside none !important;
					width: 8em !important;	}
.cbMenu ul		{	position: absolute;			left: auto;			z-index: 32001;	}	/* second-level lists */
.cbMenu ul ul	{	margin: -1em 0px 0px 10em;	z-index: 32001;	}						/* third-and-above-level lists N/A yet */
.cbMenu span, .cbSSmenu span 			{		display: none;	}
.cbMenu a		{	text-align: center;	}
.cbSSmenu a		{	text-align: left;			display: block;		width: 100% !important;	}
.cbSSmenu li	{	list-style: none outside none;	display: block;		width: 100% !important;	}
html>body .cbMenu a, html>body .cbMenu a:visited, html>body .cbMenu a:hover, html>body .cbMenu a:active,
html>body .cbSSmenu a, html>body .cbSSmenu a:visited, html>body .cbSSmenu a:hover, html>body .cbSSmenu a:active {	width:auto !important;	}
.cbSSmenu img	{	margin-right: 8px;			border: none;	}
.cbSSmenu img.hr {	margin: 1px 0px 1px 0px;	display:block;		width:100% !important;			height:1px;		}
#conteneurmenu	{	height: 40px;	}
/* BestCSS Menu Decoration: */
.cbMenu, .cbSSmenu {
	background:rgb(234,242,255);
	color:rgb(0,66,174);
	font:bold 12px Verdana,Helvetica,Arial,sans-serif;
	border:1px solid rgb(120,172,255);
	padding:1px;
/*
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	opacity: 0.9;
*/
}
.cbMenu {
	margin-right: 0.5em !important;
}
.cbSSmenu {
	width: auto !important;
	margin-top: 0.3em !important;
}
.cbSSmenu li {
	padding: 0px !important;
	margin: 0px !important;
	background: rgb(234,242,255);
	margin-bottom: 1px;
/*	border-right: 1px solid #CDCDCC;*/
	width:auto !important;
}
.cbMenu a, .cbSSmenu a, .cbMenu a:link, .cbMenu a:visited, .cbMenu a:hover, .cbSSmenu a:link, .cbSSmenu a:visited, .cbSSmenu a:hover {
	display: block;
	font:bold 12px Verdana,Helvetica,Arial,sans-serif;
	text-decoration:none;
	color:rgb(0,66,174);
	padding:1px;
	margin: 0px;
}
.cbSSmenu a, .cbSSmenu a:link, .cbSSmenu a:visited, .cbSSmenu a:hover {
	padding-left: 5px;
	padding-right: 3px;
}
.cbSSmenu ul:hover, .cbSSmenu a:hover, .cbSSmenu a:focus, .cbMenu a:hover, .cbMenu a:focus {
	background:#0000A0;
	color:white;
	text-decoration:none;
	margin: 0px;
}

div.cbclearboth:after {
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;
}
div.cbclearboth {display:inline-block;}
/* Hides from IE-mac \*/
* html div.cbclearboth {height: 1%;}
div.cbclearboth {display: block;}
/* End hide from IE-mac */

/* For login and registration: */
#cb_comp_login, #cb_comp_register {
	border: 1px solid #BBB;
	padding: 6px 0px;
}
#cb_comp_login {
	width: 25%;
	float: left;
	margin: 4px 0px 4px 2px;
}
#cb_comp_register {
	width: 72%;
	float: right;
	margin: 4px 2px 4px 0px;
}
#cb_comp_login .componentheading, #cb_comp_register .componentheading {
	width: auto;
}
.cb_comp_outer {
	float: none;
	margin: 0px;
	border: 0px;
	padding: 8px;
}
.cb_comp_inner {
	float: none;
	margin: 0px;
	border: 0px;
	padding: 0px !important;
	width: 100%;
}

/* Front-end ajax messages: */
.cb_result_container {
	min-height:  23px;
	line-height: 23px;
	text-align: left;
	margin: 0px;
	padding: 0px;
	border-width: 0px;
}
.cb_result {
}
.cb_result_ok {
	padding: 5px 5px 5px 30px;
	border: 1px transparent;
	color: green;
	background: transparent url("images/mini-icons/icon-16-tick.png") no-repeat;
	background-position: 7px 3px;
}
.cb_result_warning {
	padding: 5px 5px 5px 30px;
	border: 1px solid #883300;
	color: #dd7700;
	font-weight: bold;
	background: #ffffcc url("images/mini-icons/icon-16-warning.png") no-repeat;
	background-position: 7px 3px;
}
.cb_result_error {
	padding: 5px 5px 5px 30px;
	border: 1px solid #cc0000;
	color: red;
	font-weight: bold;
	background: #ffffcc url("images/mini-icons/icon-16-error.png") no-repeat;
	background-position: 7px 3px;
}

.cb_online {
	padding: 0px 0px 0px 20px;
	color: #6eab33;
	background: transparent url("images/mini-icons/icon-15-online.png") no-repeat;
	background-position: 1px -1px;
}
.cb_offline {
	padding: 0px 0px 0px 20px;
	color: #c72234;
	background: transparent url("images/mini-icons/icon-15-offline.png") no-repeat;
	background-position: 1px -1px;
}

/* For ratings: */
.cbStarRatingBlock	{	width: 80px;	padding: 0px;	margin: 0px auto auto 0px;	}
.cbStarRatingBlockR	{	width: 80px;	padding: 0px;	margin: 0px 0px auto auto;	}
.cbStarRatingOn		{	float: left;	width: 16px;	height: 16px;	display: block;		background: transparent url("images/mini-icons/icon-16-rating-star.gif") no-repeat;		background-position: 0px -32px;	}
.cbStarRatingOff	{	float: left;	width: 16px;	height: 16px;	display: block;		background: transparent url("images/mini-icons/icon-16-rating-star.gif") no-repeat;		background-position: 0px 0px;	}
div.rating{cursor:pointer;margin:2em;clear:both;display:block;}
div.rating:after{content:'.';display:block;height:0;width:0;clear:both;visibility:hidden;}
div.cancel,div.star{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden;}
div.cancel,div.cancel a{background:url("images/mini-icons/icon-16-rating-delete.gif") no-repeat 0 -16px;}
div.star,div.star a{background:url("images/mini-icons/icon-16-rating-star.gif") no-repeat 0 0px;}
div.cancel a,div.star a{display:block;width:16px;height:100%;background-position:0px 0px;border-width:0px; }
div.star_on a{background-position:0 -16px !important;}
div.star_hover a,div.star a:hover{background-position:0 -32px;}
div.star_readonly a,div.star_readonly a:hover{cursor:default !important;background-position:0 0;}
div.star{background:transparent!important;overflow:hidden !important;}

/* For calendar: */
span.cbDateinputJs table tr td.calendarDateInput, span.cbDateinputJs table tr:hover td.calendarDateInput {letter-spacing:normal;line-height:normal;font-family:Tahoma,Sans-Serif;font-size:11px;text-align:center;vertical-align:middle;margin:0px !important;padding:0px !important;}
span.cbDateinputJs table tr td.calendarDayInput, span.cbDateinputJs table tr:hover td.calendarDayInput {letter-spacing:normal;line-height:normal;font-family:Tahoma,Sans-Serif;font-size:14px;text-align:center;vertical-align:middle;}
span.cbDateinputJs select.calendarDateInput {letter-spacing:.06em;font-family:Verdana,Sans-Serif;font-size:11px;}
span.cbDateinputJs input.calendarDateInput {letter-spacing:.06em;font-family:Verdana,Sans-Serif;font-size:11px;}


/* For CLUETIP: */

/* global */
#cluetip-close img {
  border: 0;
}
#cluetip-title {
  overflow: hidden;
}
#cluetip-title #cluetip-close {
  float: right;
  position: relative;
}
#cluetip-waitimage {
  width: 43px;
  height: 11px;
  position: absolute;
  background-image: url(images/cluetip/wait.gif);
}
.cluetip-arrows {
  display: none;
  position: absolute;
  top: 0;
  left: -11px;
  height: 22px;
  width: 11px;
  background-repeat: no-repeat;
  background-position: 0 0;
}
#cluetip-extra {
  display: none;
}
/***************************************
   =cluetipClass: 'jtip'
-------------------------------------- */
.cluetip-jtip {
  background-color: transparent;
}
.cluetip-jtip #cluetip-outer {
  border: 2px solid #ccc;
  position: relative;
  background-color: #ffc;
}

.cluetip-jtip h3#cluetip-title {
  margin: 0 0 5px;
  padding: 2px 5px;
  font-size: 14px;
  font-weight: normal;
  background-color: #ccc;
  color: #333;
}

.cluetip-jtip #cluetip-inner {
  padding: 0 5px 5px;
  display: inline-block;
  width: 100%;		/* BBFIX bug 3359 */
}
.cluetip-jtip div#cluetip-close { 
  text-align: right;
  margin: 0 5px 5px;
  color: #900;
}

/* jtip arrows */

.clue-right-jtip .cluetip-arrows {
  background-image: url(images/cluetip/arrowleft.gif);
}
.clue-left-jtip .cluetip-arrows {
  background-image: url(images/cluetip/arrowright.gif);
  left: 100%;
  margin-right: -11px;
}
.clue-top-jtip .cluetip-arrows {
  background-image: url(images/cluetip/arrowdown.gif);
  top: 100%;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;  
}  
.clue-bottom-jtip .cluetip-arrows {
  background-image: url(images/cluetip/arrowup.gif);
  top: -11px;
  left: 50%;
  margin-left: -11px;
  height: 11px;
  width: 22px;
}
