
.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
	border-bottom:solid 1px #fc8f0a;
	width:280px;
}

.mootabs_title li {
	float: left;
	border-left:solid 1px #d3cfcf;
	border-top:solid 1px #d3cfcf;
	border-right:solid 1px #d3cfcf;
	/*background:url(../images/greydot.png) right no-repeat;*/
/*	background-color: #ddd;*/
	padding: 0 8px 0 8px;
	margin-right: 2px;
	cursor: pointer;
	height: 24px;
	line-height:20px;
	color:#66460c;
	
}

.mootabs_title li.active {
	border-left:solid 1px #fc8f0a;
	border-top:solid 1px #fc8f0a;
	border-right:solid 1px #fc8f0a;
	border-bottom:none;
	background:none;
	color:#ff8200;
	background-color:#FFFFFF;
	/*background-color: #e6e6e6;*/
}

.mootabs_panel {
	display: none;
/*	background-color: #ddd;*/
	position: relative;
	width: 280px;
	top: 10px;
	clear: both;
	overflow: auto;
	
}

.mootabs_panel.active {
/*	background-color: #e6e6e6;*/
	display: block;
}

/*---------------------------------------------------------------------------- */

#myTabs3 ul.mootabs_title {
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 24px;
	border-bottom:solid 1px #fc8f0a;
	width:604px;
}

#myTabs3 ul.mootabs_title li {
	float: left;
	border-left:solid 1px #d3cfcf;
	border-top:solid 1px #d3cfcf;
	border-right:solid 1px #d3cfcf;
	/*background:url(../images/greydot.png) right no-repeat;*/
/*	background-color: #ddd;*/
	padding: 0 8px 0 8px;
	margin-right: 2px;
	cursor: pointer;
	height: 24px;
	line-height:20px;
	color:#66460c;
	
}

#myTabs3 ul.mootabs_title li.active {
	border-left:solid 1px #fc8f0a;
	border-top:solid 1px #fc8f0a;
	border-right:solid 1px #fc8f0a;
	border-bottom:none;
	background:none;
	color:#ff8200;
	background-color:#FFFFFF;
	/*background-color: #e6e6e6;*/
}

#myTabs3 .mootabs_panel {
	display: none;
/*	background-color: #ddd;*/
	position: relative;
	width: 604px;
	top: 10px;
	clear: both;
	overflow: auto;
	
}

#myTabs3 .mootabs_panel.active {
/*	background-color: #e6e6e6;*/
	display: block;
}
