/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}


/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:0;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
list-style-type: none; list-style-image: none; margin: 8px 0 0 0; padding: 0 0 0.4em 0; border-bottom:solid 1px #fc8f0a;
}

ul.tabbernav li
{
display: inline; font-size:12px; color:#575757; z-index:1000; 
}


ul.tabbernav li a
{
color: #66460c; margin:0 -2px 0 0; padding: 0.4em 0.6em 0.4em 0.6em; text-decoration: none;
 margin-right: 0.2em; border:solid 1px #d3cfcf; border-bottom:none;
}


ul.tabbernav li a:hover
{
 color: #66460c; border:solid 1px #d3cfcf; border-bottom:none;
}

ul.tabbernav li.tabberactive a { color: #ff8200; border-left:solid 1px #fc8f0a;
	border-top:solid 1px #fc8f0a;
	border-right:solid 1px #fc8f0a;
	border-bottom:none; padding: 0.4em 0.6em 0.5em 0.6em;background-color:#FFFFFF; }

ul.tabbernav li.tabberactive a
{
}

ul.tabbernav li.tabberactive a:hover
{
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {

 padding-bottom:5px;
 width:100%; 
 overflow:auto; 
 height:auto; 
 min-height:270px;


 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /* height:200px; */

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /* overflow:auto; */
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:200px;
 overflow:auto;
}
